mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.asbs.flow.ResponseForService/Response/001/PIR24_FIO11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Pavel (SBRF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../Types/PIR24_ASBS_SimpleTypes.xsd"/>
	<xs:element name="Response" type="Response_Type">
		<xs:annotation>
			<xs:documentation>Ответ на запрос (в атрибуте OpCode указывается одно из значений: nul, app, upd, doc, get)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BasicRS_Type">
		<xs:annotation>
			<xs:documentation>Тип используемый как формат сообщения - Ответ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RsUID">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор ответа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="RsUID_Type">
						<xs:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RsTm" type="DateTime">
				<xs:annotation>
					<xs:documentation>Дата и время овтета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperUID" type="OperUID_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный номер операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemID" type="SPName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы назначения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы источника</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqUID">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="RqUID_Type">
						<xs:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OPER_ID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер операции (ЕКП)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TSMMessageId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор сообщения TSM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="UUID">
						<xs:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response_Type">
		<xs:annotation>
			<xs:documentation>Тип ответа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRS_Type">
				<xs:sequence>
					<xs:element name="RoutingSet" type="RoutingSet_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные для настройки маршрутизации сообщения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETSMID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ID заявки в ETSM. Не заполняется, если OpCode="get"</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="String">
								<xs:maxLength value="36"/>
								<xs:pattern value="[0-9a-fA-F\-]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SID" fixed="UFS" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ID источника сообщения</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="String">
								<xs:maxLength value="10"/>
								<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/-_]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="InsuranceFromDate" type="Date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата начала страхования. Заполняется, если OpCode="acc"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsuranceToDate" type="Date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания страхования. Заполняется, если OpCode="acc"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicationStatus" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Статус заявки. Не заполняется, если OpCode="get".             Код статуса:
Договор создан: 1.
Договор оплачен: 2.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="String">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="InsurancePremium" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страховая премия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsuranceAmount" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страховая сумма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditAmount" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сумма кредита</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditCurrency" type="Currency_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Валюта кредита</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateTime" type="DateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата/время последнего действия. Не заполняется, если OpCode="get"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReturnCode" type="xs:int">
						<xs:annotation>
							<xs:documentation>Код возврата (0 - успешно, другое - ошибка)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание кода возврата</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="String">
								<xs:maxLength value="512"/>
								<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="RiskList" type="RiskList_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень страховых рисков и премий</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ID страхового договора</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="String">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PolicyNumber" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер полиса</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
								<xs:pattern value="[0-9]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PolicySeries" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Серия полиса</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="String">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="OpCode" type="OpCode_Type" use="required">
					<xs:annotation>
						<xs:documentation>Код операции</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RiskList_Type">
		<xs:annotation>
			<xs:documentation>Перечень страховых рисков и сумм</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RiskID" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID риска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsAdditional" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак дополнительного страхового риска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskItem" type="RiskItem_Type">
				<xs:annotation>
					<xs:documentation>Наименование риска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tarif" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховой тариф</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsPremium" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskPremiumCurrencyID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Валюты</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RiskPremiumCurrency" type="Currency_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Валюта страховой премии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsPremiumRu" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingSet_Type">
		<xs:annotation>
			<xs:documentation>Настройки маршрутизации сообщения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId">
				<xs:annotation>
					<xs:documentation>MQ идентификатор сообщения, содержащий MessageId запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="48"/>
						<xs:pattern value="[0-9a-fA-F]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Persistence" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Свойство персистентности. Должно быть явно задано, как не персистентное. Значение: 0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceVersion">
				<xs:annotation>
					<xs:documentation>Константа, определяющая версию сервиса КСШ
Пример: 001</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="[0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type">
				<xs:annotation>
					<xs:documentation>идентификатор системы поставщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqTm" type="DateTime">
				<xs:annotation>
					<xs:documentation>дата и время запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Техническое название сервиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroupId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор группы сообщений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="48"/>
						<xs:pattern value="[0-9a-fA-F]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReplyToQ">
				<xs:annotation>
					<xs:documentation>Имя очереди получения ответа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReplyToQM">
				<xs:annotation>
					<xs:documentation>Имя менеджера получения ответа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomField" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пользовательские данные</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
