mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.pprb.bs.flow.RequestForService/AnnulInsurancePolicyRq/001/AnnulInsurancePolicyRq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR25_UB_v01.xsd"/>
	<xs:element name="AnnulInsurancePolicyRq" type="AnnulInsurancePolicyRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Аннулирование страхового договора"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AnnulInsurancePolicyRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Аннулирование страхового договора" </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация об отделении и менеджерах</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="Branch" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BranchID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Region" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Agency" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgencyID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannelID" type="SalesChannelID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannel" type="SalesChannel_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CRMSegmentID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор клиентского сегмента</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CRMSegmentCode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код Клиентского сегмента</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о клиентском менеджере</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="OperInfo_Type">
									<xs:sequence>
										<xs:element name="OperRoleID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID роли сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperRole" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование роли</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperFIO" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО КМ</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CustInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о клиенте</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="CustInfo_Type">
									<xs:sequence>
										<xs:element name="PersonInfo" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о физическом лице.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="PersonInfo_Type">
														<xs:sequence>
															<xs:element name="Account" type="Account_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Клиентский счёт</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="Mode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubMode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подрежим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusUpdateInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Обновление статуса объекта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="StatusUpdateInfo_Type">
														<xs:sequence>
															<xs:element name="ChangeReason" type="ChangeReason_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Причина назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Status" type="StatusType_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StatusDate" type="DateTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Комментарии</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="InsuranceContractDay" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата заполнения заявления</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Код валюты договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>ID Валюты </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PolicyData" type="PolicyData_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Блок данных по страхованию</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsurancePeriod" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Период действия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurancePeriod_Type">
																			<xs:sequence>
																				<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="ScanDossier" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Досье сканов</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ScanDossier_Type">
																			<xs:sequence>
																				<xs:element name="Catalog" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Каталог</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ScanList" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Список сканов</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="ScanList_Type">
																								<xs:sequence>
																									<xs:element name="ScanType" type="ScanType_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Тип скана</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ScanTypeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID типа скана</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ScanGroup" type="ScanGroup_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Группа скана</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ScanURL" type="ScanURL_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Ссылка на скан</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Name" type="NameDoc_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Наименование документа</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="WithdrawalAmount" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Снятие средств</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="WithdrawalAmount_Type">
									<xs:sequence>
										<xs:element name="IsBalanced" type="Boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сбалансированное распределение средств по счетам</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LinkedSupplimentary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы связанных допсоглашений</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="LinkedSupplAgreements_Type">
									<xs:sequence>
										<xs:element name="OperationType" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Признак административных или технических изменений</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgreementStartDate" type="StartDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата начала действия доп. соглашения</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PostSaleRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрос</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="PostSaleRequest_Type">
									<xs:sequence>
										<xs:element name="IgnoreWarnings" type="Boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Признак проверок</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NewVersionReason" type="NewVersionReason_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Причина</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
