mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.dzo_sbsj.flow.ResponseForService/PutInsuranceFNOLRs/001/PutInsuranceFNOLRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR25_UB_v01.xsd"/>
	<xs:element name="PutInsuranceFNOLRs" type="PutInsuranceFNOLRs_Type">
		<xs:annotation>
			<xs:documentation>Ответ на запрос "Регистрация/обновление заявления о страховом случае"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PutInsuranceFNOLRs_Type">
		<xs:annotation>
			<xs:documentation>Тип ответа на запрос "Регистрация/обновление заявления о страховом случае"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRS_Type">
				<xs:sequence>
					<xs:element name="CustInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о клиенте</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="CustInfo_Type">
									<xs:sequence>
										<xs:element name="PersonInfo" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о физическом лице.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="PersonInfo_Type">
														<xs:sequence>
															<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ФИО клиента</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="Mode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubMode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подрежим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusUpdateInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Обновление статуса объекта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="StatusUpdateInfo_Type">
														<xs:sequence>
															<xs:element name="Status" type="StatusType_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Комментарии</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="ApplicationStatusID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор статуса Заявления/Договора в ППРБ.БС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ApplicationStatusCode" type="String_50" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код статуса Заявления/Договора в ППРБ.БС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ApplicationStatus" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статус заявления/Договора в ППРБ.БС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="PolicyData" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Блок данных по страхованию</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PolicyData_Type">
																			<xs:sequence>
																				<xs:element name="RequestID" type="Long" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID заявления в ППРБ.БС</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RequestNumber" type="Insur_RequestNumber_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер заявки в СК</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClaimSettlementRequest" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация для урегулирования убытков</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="ClaimSettlementRequest_Type">
									<xs:sequence>
										<xs:element name="ClaimShortDescription" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Описание убытка</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="ClaimShortDescription_Type">
														<xs:sequence>
															<xs:element name="ClaimNumber" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimCode" type="ClaimCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimDate" type="ClaimDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата наступления страхового случая</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NotificationDate" type="NotificationDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата регистрации заявления</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AvailableCoveragesForClaim" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Доступные покрытия для УУ</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="AvailableCoveragesForClaim_Type">
																			<xs:sequence>
																				<xs:element name="ExternalCoverageID" type="ExternalCoverageID_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор покрытия клиента СК в рамках договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageCode" type="String_30" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код покрытия в страховой компании</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageName" type="CoverageName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование покрытия СК</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ContractSeries" type="String_25" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Серия договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ContractNumber" type="String_25" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PolicyBeginDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskTypeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор типа риска</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskType" type="RiskItem_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Тип риска </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PostSaleRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрос</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="PostSaleRequest_Type">
									<xs:sequence>
										<xs:element name="ActionStatus" type="Boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статус результата действий</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReportMessage" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Статус ответа</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="Status_Type">
									<xs:sequence>
										<xs:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код возврата</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Severity" type="Severity_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Описание статуса</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalStatus" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="AdditionalStatus_Type">
									<xs:sequence>
										<xs:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код возврата</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код сервера</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Severity" type="Severity_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Серьезность ошибки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Описание статуса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="System" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Система-источник ошибки</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
