mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.pprb.bs.flow.ResponseForService/GenerateInsuranceDocumentRs/001/GenerateInsuranceDocumentRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR23_KSB_new_v2.xsd"/>
	<xs:element name="GenerateInsuranceDocumentRs" type="GenerateInsuranceDocumentRs_Type">
		<xs:annotation>
			<xs:documentation>Ответ на запрос "Генерация страховой документации"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GenerateInsuranceDocumentRs_Type">
		<xs:annotation>
			<xs:documentation>Тип ответа на запрос "Генерация страховой документации"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRS_Type">
				<xs:sequence>
					<xs:element name="AdditionalStatus" type="AdditionalStatus_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrintingDocument" type="PrintingDocument_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о печатной форме</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
