mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.ufs.flow.RequestForService/CreateInsurancePolicyRq/002/CreateInsurancePolicyRq(FIO02)_2016.08.16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Pavel (SBRF) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\Types\PIR24_KSB_Types.xsd"/>
	<xs:element name="CreateInsurancePolicyRq" type="CreateInsurancePolicyRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Создание страхового полиса"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CreateInsurancePolicyRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Создание страхового полиса"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="BranchId" type="BranchId_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор филиала банка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код тербанка</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="C">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AgencyId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код отделения</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="C">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" type="OperInfo_Type" minOccurs="0"/>
					<xs:element name="InsurancePolicyDetails">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="CustInfo">
											<xs:annotation>
												<xs:documentation>Контактная информация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="CustInfo_Type">
														<xs:sequence>
															<xs:element name="PersonInfo">
																<xs:annotation>
																	<xs:documentation>Информация о физическом лице.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Расширенные параметры ФИО</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ContactInfo" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Контактная информацию(адрес, телефон)</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="ContactInfo_Type">
																								<xs:sequence>
																									<xs:element name="Phone" minOccurs="0" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation>Блок с данными телефона</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:complexContent>
																												<xs:restriction base="ExtPhoneNum">
																													<xs:sequence>
																														<xs:element name="PhoneType" default="Mobile" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Тип телефона</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="20"/>
																																	<xs:enumeration value="Mobile"/>
																																	<xs:enumeration value="Home"/>
																																	<xs:enumeration value="Work"/>
																																	<xs:enumeration value="Other"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneCode" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Код оператора связи</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="20"/>
																																	<xs:pattern value="[0-9()+]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="Phone" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Номер телефона</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="32"/>
																																	<xs:pattern value="[0-9\-]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneCountryPrefix" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Код страны</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="7"/>
																																	<xs:pattern value="[0-9\-()+]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneExt" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Добавочный номер</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="7"/>
																																	<xs:pattern value="[#/0-9]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneFull" type="PhoneFull_Type" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Код оператора связи и номер телефона</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																												</xs:restriction>
																											</xs:complexContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="EmailAddr" type="EMailAddr_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="WMQI_DOCUMENTATION">Адрес электронной почты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PostAddr" type="PostAddr_Type" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation>Список почтовых адресов</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="BirthDt" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата рождения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Gender" type="Gender_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Пол. Значения:Male – мужской Female – женский Unknown – неизвестен</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="MaritalStatus" type="MaritalStatus_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Семейное положение.
Предопределенные значения:
Married – женат (замужем)
Single – холост (не замужем)
Divorced – разведен (-а)
Separation - раздельное проживание 
Widow – вдовец (вдова)
Civil –гражданский брак
</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="IdentityCards" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Перечень ДУЛ</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="IdentityCards_Type">
																								<xs:sequence>
																									<xs:element name="IdentityCard">
																										<xs:complexType>
																											<xs:complexContent>
																												<xs:restriction base="IdentityCard_Type">
																													<xs:sequence>
																														<xs:element name="IdType" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Тип документа</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="OpenEnum">
																																	<xs:maxLength value="2"/>
																																	<xs:enumeration value="1"/>
																																	<xs:enumeration value="30"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="IdSeries" type="IdSeries_Type">
																															<xs:annotation>
																																<xs:documentation>Серия ДУЛ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="IdNum" type="IdNum_Type">
																															<xs:annotation>
																																<xs:documentation>Номер ДУЛ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="IssueDt" type="Date" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Дата выдачи ДУЛ.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="IssuedBy" type="IssuedBy_Type" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Орган, выдавший ДУЛ.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="Code" type="Issuer_Type" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Наименование, либо код организации, выдавшей ДУЛ.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="DocTypeDescription" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Полное наименование типа документа, удостоверяющего личность</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="100"/>
																																	<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																													</xs:sequence>
																												</xs:restriction>
																											</xs:complexContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="BirthPlace" type="BirthPlace_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Место рождения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AgreementInsuranceRules" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Время и дата подтверждения согласия с условиями страхованиями</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="DateTime"/>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="AgreementTransferPersonalData" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Время и дата подтверждения согласия по передаче перс.данных</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="DateTime"/>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="OrgInfo" type="OrgInfo_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сведения о трудоустройстве</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Employee" type="Boolean" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Признак сотрудника</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CitizenshipID" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>id Гражданства</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="String">
																							<xs:maxLength value="32"/>
																							<xs:pattern value="[0-9a-fA-F]*"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="Citizenship" type="CitizenShip_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Гражданство</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="BusinessProcessNumber">
																<xs:annotation>
																	<xs:documentation>Номер бизнес-процесса</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="10"/>
																		<xs:pattern value="[0-9]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InsurProductCode" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Артикул продукта</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="10"/>
																		<xs:pattern value="[0-9]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип кредита</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:enumeration value="Потребительский"/>
																		<xs:enumeration value="Автокредитование"/>
																		<xs:enumeration value="Ипотека"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditStatus" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус кредита </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="60"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditTerm" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Срок кредита в месяцах</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CreditAmount" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Сумма и валюта кредита</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="CurrencyAmount_Type">
																			<xs:sequence>
																				<xs:element name="Amt" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты. Заполняется в случае наличия поля CurRate.</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="CreditAmountDebt" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Сумма кредитной задолженности</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MonthlyPayment" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Ежемесячный платеж</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="LoanAcctId" type="AcctId_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер ссудного счета</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AgreemtNum" type="AgreemtNum_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер кредитного договора. Используется основной счет договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StartDt" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата заключения кредитного договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IncludeInsuranceFlag" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак «Включить страховку в кредит»</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CreditCard" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Данные кредитной карты</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="CreditCard_Type">
																			<xs:sequence>
																				<xs:element name="CreditCardNo" type="xs:int" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер кредитной карты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CreditCardAcct" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер счета кредитной карты</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="String">
																							<xs:maxLength value="100"/>
																							<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/-_]*"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="CreditCardTerm" type="xs:int" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Срок действия кредитной карты (в месяцах)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="LimitCreditCard" type="xs:double" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Лимит кредитной карты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CreditCardCurrency" type="Currency_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Валюта кредитной карты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="CalculationMode" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип расчета СП</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="OpenEnum">
																		<xs:enumeration value="normal"/>
																		<xs:enumeration value="backward"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditOffer" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак оформления страховки по кредитной оферте, по-умолчанию 1</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsProductID" type="UUID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Страхового продукта </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PercentageInsuranceCoverage" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Процент страховой защиты (%). В целых числах: 10, 50, 100.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsuranceTerritoryID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Территория действия полиса</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InsuranceTerritory" type="InsuranceTerritory_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Территория страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DayOfTrip" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Количество дней путешествия</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TripFromDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата начала путешествия</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TripToDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата окончания путешествия</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PolicyOneYear" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Полис на 1 год:
0 – нет
1 – да 
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DayOfInsurance" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дней страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PaymentMethod" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак способа оплаты</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsProductIDIC" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Страхового продукта АС СК</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InsuranceApplicationDay" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата оформления заявки клиентом для заключения договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsuranceContractDay" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата заключения страхового договора</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RequestID">
											<xs:annotation>
												<xs:documentation>ID заявки в ETSM</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="36"/>
													<xs:pattern value="[0-9a-fA-F\-]*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SID">
											<xs:annotation>
												<xs:documentation>ID источника формирования</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата начала действия страховки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата окончания действия страховки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Mode" type="Mode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим обработки заявления (в запросе на редактирование «upd»)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ApplicationStatus" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статус заявления</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DeclineReasonSource" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Источник отклонения заявки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DeclineReasonComment" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Причина отклонения заявки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InsurancePremium" type="xs:double" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Страховая премия (общая сумма за страхование по всем рискам)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceRiskList" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Перечень страховых рисков и сумм</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceRiskList_Type">
														<xs:sequence>
															<xs:element name="RiskID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID риска</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RiskItem" type="RiskItem_Type">
																<xs:annotation>
																	<xs:documentation>Наименование риска</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsAdditional" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак дополнительного страхового риска (только для опциональных рисков ВЗР)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Tarif" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховой тариф</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskPremium" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховая премия по риску в валюте</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskPremiumRu" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховая премия по риску в рублях</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsSumID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Страхового покрытия</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RiskInsSum" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховое покрытие по риску (страховая сумма)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskSumRu" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховое покрытие по риску (страховая сумма) в рублях</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsCurrency" type="Currency_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Валюта страхового покрытия</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskPremiumCurrencyID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID валюты страховой премии</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RiskPremiumCurrency" type="Currency_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Валюта страховой премии</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="InsuredPersonInfo" type="InsuredPersonInfo_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о застрахованных</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuredPersonList" type="InsuredPersonList_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Перечень застрахованных лиц</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuredAdditionalID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID Дополнительной информации по застрахованному</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="32"/>
													<xs:pattern value="[0-9a-fA-F]*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InsuredAdditional" type="InsuredAdditional_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дополнительная информация по застрахованному </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RealtyTypeID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID Типа объекта/недвижимости</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="32"/>
													<xs:pattern value="[0-9a-fA-F]*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RealtyType" type="Realty_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Тип объекта/недвижимости</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RealtyAfter1955" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Год постройки:
0 – менее 1955
1 – более 1955 
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RealtyHasWood" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Деревянные перекрытия:
0 – отсутствуют
1 – присутствуют
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RealtyAddressCopy" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Адрес объекта страхования с адресом регистрации:
0 – не совпадает
1 - совпадает
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Address" type="PostAddr_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Адрес застрахованного объекта</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ContractID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID страхового договора</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PolicyNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер полиса</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="10"/>
													<xs:pattern value="[0-9]*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PolicySeries" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Серия полиса</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Payment" type="Payment_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Платеж</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
