mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.ufs.flow.RequestForService/GetInsuranceSupplementaryAgreementRq/001/GetInsuranceSupplementaryAgreementRq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR25_UB_v01.xsd"/>
	<xs:element name="GetInsuranceSupplementaryAgreementRq" type="GetInsuranceSupplementaryAgreementRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Просмотр информации по доп. соглашению по страховым продуктам"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GetInsuranceSupplementaryAgreementRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Просмотр информации по доп. соглашению по страховым продуктам" </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация об отделении и менеджерах</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="Branch" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BranchID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Region" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Agency" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgencyID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannelID" type="SalesChannelID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannel" type="SalesChannel_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о клиентском менеджере</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="OperInfo_Type">
									<xs:sequence>
										<xs:element name="OperRoleID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID роли сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperRole" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование роли</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperLogin" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Логин КМ в системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperFIO" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО КМ</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="RequestedObject" type="RequestedObject_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрашиваемый объект</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="Mode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubMode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подрежим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
