mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.asbs.flow.ResponseForService/GetInsurancePolicyDetailRs/001/GetInsurancePolicyDetailRs_2016.08.16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Pavel (SBRF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\Types\PIR24_ASBS_SimpleTypes.xsd"/>
	<xs:element name="GetInsurancePolicyDetailRs" type="GetInsurancePolicyDetailRs_Type">
		<xs:annotation>
			<xs:documentation>Ответ на просмотр детальной информации по страховому/НПФ продукту клиента</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InsuranceApp_Type">
		<xs:annotation>
			<xs:documentation>Данные по страховому продукту</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reference" type="Insur_Reference_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID (референс) страховки, по которой запрашиваются данные</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreemtId" type="AgreemtId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор договора по которому осуществляется поиск договора в АС БС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessProcess" type="Insur_BP_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование бизнес-процесса, в рамках которого оформлена страховка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductType" type="Insur_ProductType_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа продукта, в рамках которого оформлена страховка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="Insur_Status_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус страховки для отображения. Для страховых продуктов (Действует, Срок действия истекает, Срок действия истек, Аннулирован).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Company" type="Insur_Company_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая компания для отображения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Program" type="Insur_Program_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая программа для отображения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия страховки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания действия страховки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayOfTrip" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество дней путешествия (только для страхования путешественников)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNILS" type="SNILS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер СНИЛС для пенсионного страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="CurrencyAmount_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyDetails" type="PolicyDetails_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание реквизитов договора страхования: Серия, номер и дата выдачи полиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Risks" type="Insur_Risks_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание страховых рисков</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="Insur_AdditionalInfo_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация (№ и дата кредитного договора (при условии оформления страховки в рамках кредитной сделки)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingSet_Type">
		<xs:annotation>
			<xs:documentation>Настройки маршрутизации сообщения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId">
				<xs:annotation>
					<xs:documentation>MQ идентификатор сообщения, содержащий MessageId запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="48"/>
						<xs:pattern value="[0-9a-fA-F]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Persistence" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Свойство персистентности. Должно быть явно задано, как не персистентное. Значение: 0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceVersion">
				<xs:annotation>
					<xs:documentation>Константа, определяющая версию сервиса КСШ
Пример: 001</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="[0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type">
				<xs:annotation>
					<xs:documentation>идентификатор системы поставщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqTm" type="DateTime">
				<xs:annotation>
					<xs:documentation>дата и время запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Техническое название сервиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroupId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор группы сообщений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="48"/>
						<xs:pattern value="[0-9a-fA-F]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReplyToQ">
				<xs:annotation>
					<xs:documentation>Имя очереди получения ответа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReplyToQM">
				<xs:annotation>
					<xs:documentation>Имя менеджера получения ответа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomField" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пользовательские данные</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyAmount_Type">
		<xs:annotation>
			<xs:documentation>Денежная сумма</xs:documentation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="Amt_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reversal" type="Reversal_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="CurCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты. Заполняется в случае наличия поля CurRate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="CurRate" type="CurRate_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Курс обмена. Курс обмена иностранной валюты на валюту денежной суммы. Поле CurConvertRule определяет является ли данное поле нумератором или деноминатором.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CurConvertRule" type="CurConvertRule_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Напраление конвертации. Допустимые значения Direct и Indirect.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyDetails_Type">
		<xs:annotation>
			<xs:documentation>Описание реквизитов договора страхования: Серия, номер и дата выдачи полиса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series" type="Insur_PolicySeries_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Num" type="Insur_PolicyNum_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDt" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankInfo_Type">
		<xs:annotation>
			<xs:documentation>Реквизиты банков. Тип используется для идентификации банка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BranchId" type="BranchId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор филиала банка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionId" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код тербанка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyId" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код отделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RbTbBrchId" type="RbTbBrchId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>8-значный код ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RbBrchId" type="RbBrchId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>6-значный код ТБ, в котором ведется продукт клиента (кредит, вклад, ОМС, карты)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalStatus_Type">
		<xs:annotation>
			<xs:documentation>Дополнительные статусы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код возврата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код сервера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Severity" type="Severity_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status_Type">
		<xs:annotation>
			<xs:documentation>Статус ответа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="StatusCode_Type">
				<xs:annotation>
					<xs:documentation>Статусный код возврата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Severity" type="Severity_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalStatus" type="AdditionalStatus_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetInsurancePolicyDetailRs_Type">
		<xs:annotation>
			<xs:documentation>Тип сообщения-ответа для просмотра детальной информации по страховому/НПФ продукту клиента</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RqUID">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="RqUID_Type">
						<xs:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RqTm" type="DateTime">
				<xs:annotation>
					<xs:documentation>Дата и время передачи сообщения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор операции.
Строковый тип с поддержкой русского языка в кодировке UTF-8.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы инициирующей запрос </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Systemid" type="SPName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы назначения запроса </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoutingSet" type="RoutingSet_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данне для настройки маршрутизации сообщения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус ответа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="Status_Type">
							<xs:sequence>
								<xs:element name="StatusCode" type="StatusCode_Type">
									<xs:annotation>
										<xs:documentation>Статусный код возврата</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Severity" type="Severity_Type">
									<xs:annotation>
										<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Описание статуса</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="InsuranceApps">
				<xs:annotation>
					<xs:documentation>Данные по страховому продукту
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="InsuranceApp_Type">
							<xs:sequence>
								<xs:element name="Reference" type="Insur_Reference_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID (референс) страховки, по которой запрашиваются данные</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AgreemtId" type="AgreemtId_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Идентификатор договора по которому осуществляется поиск договора в АС БС</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="BusinessProcess" type="Insur_BP_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Наименование бизнес-процесса, в рамках которого оформлена страховка</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ProductType" type="Insur_ProductType_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Наименование типа продукта, в рамках которого оформлена страховка</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Status" type="Insur_Status_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Статус страховки для отображения. Для страховых продуктов (Действует, Срок действия истекает, Срок действия истек, Аннулирован).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Company" type="Insur_Company_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Страховая компания для отображения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Program" type="Insur_Program_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Страховая программа для отображения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Дата начала действия страховки</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Дата окончания действия страховки</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="DayOfTrip" type="xs:int" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Количество дней путешествия (только для страхования путешественников)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="SNILS" type="SNILS_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Номер СНИЛС для пенсионного страхования</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Amount" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Страховая сумма</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="CurrencyAmount_Type">
												<xs:sequence>
													<xs:element name="Amt" type="Amt_Type">
														<xs:annotation>
															<xs:documentation>Сумма</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Reversal" type="Reversal_Type" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
														</xs:annotation>
													</xs:element>
													<xs:sequence minOccurs="0">
														<xs:element name="CurConvertRule" type="CurConvertRule_Type" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Напраление конвертации. Допустимые значения Direct и Indirect.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="PolicyDetails" type="PolicyDetails_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Описание реквизитов договора страхования: Серия, номер и дата выдачи полиса</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Risks" type="Insur_Risks_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Описание страховых рисков</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdditionalInfo" type="Insur_AdditionalInfo_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Дополнительная информация (№ и дата кредитного договора (при условии оформления страховки в рамках кредитной сделки)</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
