mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.ufs.flow.RequestForService/CalcInsurancePremiumRq/001/CalcInsurancePremiumRq(FIO01)_2016.06.22.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Pavel (SBRF) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR23_KSB_new.xsd"/>
	<xs:element name="CalcInsurancePremiumRq" type="CalcInsurancePremiumRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Расчет страховой премии по продукту"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CalcInsurancePremiumRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Расчет страховой премии по продукту" </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты банка</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="BranchId" type="BranchId_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор филиала банка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код тербанка</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="C">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AgencyId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код отделения</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="C">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" type="OperInfo_Type" minOccurs="0"/>
					<xs:element name="InsurancePolicyDetails">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="CustInfo" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Контактная информация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="CustInfo_Type">
														<xs:sequence>
															<xs:element name="PersonInfo" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Информация о физическом лице.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Расширенные параметры ФИО</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ContactInfo" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Контактная информацию(адрес, телефон)</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="ContactInfo_Type">
																								<xs:sequence>
																									<xs:element name="Phone" minOccurs="0" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation>Блок с данными телефона</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:complexContent>
																												<xs:restriction base="ExtPhoneNum">
																													<xs:sequence>
																														<xs:element name="PhoneType" default="Mobile" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Тип телефона</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="20"/>
																																	<xs:enumeration value="Mobile"/>
																																	<xs:enumeration value="Home"/>
																																	<xs:enumeration value="Work"/>
																																	<xs:enumeration value="Other"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneCode" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Код оператора связи</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="20"/>
																																	<xs:pattern value="[0-9()+]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="Phone" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Номер телефона</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="32"/>
																																	<xs:pattern value="[0-9\-]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneCountryPrefix" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Код страны</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="7"/>
																																	<xs:pattern value="[0-9\-()+]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="PhoneExt" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Добавочный номер</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="C">
																																	<xs:maxLength value="7"/>
																																	<xs:pattern value="[#/0-9]*"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																													</xs:sequence>
																												</xs:restriction>
																											</xs:complexContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="EmailAddr" type="EMailAddr_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="WMQI_DOCUMENTATION">Адрес электронной почты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PostAddr" type="PostAddr_Type" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation>Список почтовых адресов</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="BirthDt" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата рождения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Gender" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Пол. Значения:Male – мужской Female – женский Unknown – неизвестен</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="Gender_Type">
																							<xs:enumeration value="Male"/>
																							<xs:enumeration value="Female"/>
																							<xs:enumeration value="Unknown"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="MaritalStatus" type="MaritalStatus_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Семейное положение.
Предопределенные значения:
Married – женат (замужем)
Single – холост (не замужем)
Divorced – разведен (-а)
Separation - раздельное проживание 
Widow – вдовец (вдова)
Civil –гражданский брак
</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="IdentityCards" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Перечень ДУЛ</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="IdentityCards_Type">
																								<xs:sequence>
																									<xs:element name="IdentityCard">
																										<xs:complexType>
																											<xs:complexContent>
																												<xs:restriction base="IdentityCard_Type">
																													<xs:sequence>
																														<xs:element name="IdType" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Тип документа</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="OpenEnum">
																																	<xs:maxLength value="2"/>
																																	<xs:enumeration value="1"/>
																																	<xs:enumeration value="30"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:element>
																														<xs:element name="IdSeries" type="IdSeries_Type">
																															<xs:annotation>
																																<xs:documentation>Серия ДУЛ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="IdNum" type="IdNum_Type">
																															<xs:annotation>
																																<xs:documentation>Номер ДУЛ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="IssueDt" type="Date" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Дата выдачи ДУЛ.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="IssuedBy" type="IssuedBy_Type" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Орган, выдавший ДУЛ.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="Code" type="Issuer_Type" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation>Наименование, либо код организации, выдавшей ДУЛ.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																												</xs:restriction>
																											</xs:complexContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="BirthPlace" type="BirthPlace_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Место рождения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Employee" type="Boolean" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Признак сотрудника</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="BusinessProcessNumber">
																<xs:annotation>
																	<xs:documentation>Номер бизнес-процесса</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="10"/>
																		<xs:pattern value="[0-9]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InsurProductCode" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Артикул продукта</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="10"/>
																		<xs:pattern value="[0-9]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип кредита</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:enumeration value="Потребительский"/>
																		<xs:enumeration value="Автокредитование"/>
																		<xs:enumeration value="Ипотека"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditTerm" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Срок кредита в месяцах</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CreditAmount" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Сумма и валюта кредита</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="CurrencyAmount_Type">
																			<xs:sequence>
																				<xs:element name="Amt" type="Amt_Type">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurCode" type="CurCode_Type">
																					<xs:annotation>
																						<xs:documentation>Код валюты. Заполняется в случае наличия поля CurRate.</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="MonthlyPayment" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Ежемесячный платеж</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="LoanAcctId" type="AcctId_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер ссудного счета</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AgreemtNum" type="AgreemtNum_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер кредитного договора. Используется основной счет договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StartDt" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата заключения кредитного договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IncludeInsuranceFlag" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак «Включить страховку в кредит»</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CalculationMode" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип расчета СП</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="OpenEnum">
																		<xs:enumeration value="normal"/>
																		<xs:enumeration value="backward"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CreditOffer" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак оформления страховки по кредитной оферте, по-умолчанию 1</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsProductID" type="UUID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Страхового продукта </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsuranceTerritoryID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Территория действия полиса</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InsuranceTerritory" type="InsuranceTerritory_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Территория страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TripFromDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата начала путешествия</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TripToDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата окончания путешествия</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PolicyOneYear" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Полис на 1 год:
0 – нет
1 – да 
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DayOfInsurance" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дней страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RequestID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID заявки в ETSM</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="36"/>
													<xs:pattern value="[0-9a-fA-F\-]*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID источника формирования</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата начала действия страховки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата окончания действия страховки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Mode" type="Mode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим обработки заявления (в запросе на редактирование «upd»)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ApplicationStatus" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статус заявления</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DeclineReasonSource" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Источник отклонения заявки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DeclineReasonComment" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Причина отклонения заявки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InsuranceRiskList" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Перечень страховых рисков и сумм</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceRiskList_Type">
														<xs:sequence>
															<xs:element name="RiskID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID риска</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RiskItem" type="RiskItem_Type">
																<xs:annotation>
																	<xs:documentation>Наименование риска</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsAdditional" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак дополнительного страхового риска (только для опциональных рисков ВЗР)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsSumID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID Страхового покрытия</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RiskInsSum" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховое покрытие по риску (страховая сумма)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsChecked" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Учитывать риск при расчете (только для доп. рисков, которые клиент может отключить)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskInsCurrencyID" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID валюты страховой суммы (страхового покрытия)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="String">
																		<xs:maxLength value="32"/>
																		<xs:pattern value="[0-9a-fA-F]*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RiskInsCurrency" type="Currency_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Валюта страхового покрытия</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="InsuredPersonInfo" type="InsuredPersonInfo_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о застрахованных</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
