mergeXML/ub_adapters/TypeList/PIR24_KSB_Types/PIR24_KSB_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Pavel (SBRF) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="InsuredPersonInfo_Type">
		<xs:annotation>
			<xs:documentation>Информация о застрахованных</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InsuredGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возрастная группа </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="InsuredGroup_Type"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InsuredPersonQuantity" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество застрахованных в группе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalStatus_Type">
		<xs:annotation>
			<xs:documentation>Дополнительные статусы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код возврата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код сервера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Severity" type="Severity_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankInfo_Type">
		<xs:annotation>
			<xs:documentation>Реквизиты банков. Тип используется для идентификации банка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BranchId" type="BranchId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор филиала банка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionId" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код тербанка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyId" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код отделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RbTbBrchId" type="RbTbBrchId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>8-значный код ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RbBrchId" type="RbBrchId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>6-значный код ТБ, в котором ведется продукт клиента (кредит, вклад, ОМС, карты)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInfo_Type">
		<xs:annotation>
			<xs:documentation source="WMQI_DOCUMENTATION">Контактная информация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Phone" type="ExtPhoneNum" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Блок с данными телефона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddr" type="EMailAddr_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="WMQI_DOCUMENTATION">Адрес электронной почты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostAddr" type="PostAddr_Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список почтовых адресов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoverAgeInsureType">
		<xs:annotation>
			<xs:documentation>Срок страхования (количество лет,месяцев)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TermYear" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество лет.Возможные значения: от 1 до 30</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TermMonth" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество месяцев.Возможные значения: от 1 до 12</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditCard_Type">
		<xs:annotation>
			<xs:documentation>Данные кредитной карты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreditCardNo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер кредитной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardAcct" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер счета кредитной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardTerm" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия кредитной карты (в месяцах)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitCreditCard" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лимит кредитной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardCurrency" type="Currency_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Валюта кредитной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyAmount_Type">
		<xs:annotation>
			<xs:documentation>Денежная сумма</xs:documentation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="Amt_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reversal" type="Reversal_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="CurCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты. Заполняется в случае наличия поля CurRate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="CurRate" type="CurRate_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Курс обмена. Курс обмена иностранной валюты на валюту денежной суммы. Поле CurConvertRule определяет является ли данное поле нумератором или деноминатором.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CurConvertRule" type="CurConvertRule_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Напраление конвертации. Допустимые значения Direct и Indirect.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustInfo_Type">
		<xs:annotation>
			<xs:documentation>Блок атрибутов клиента банка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonInfo" type="PersonInfo_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о физическом лице.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtPhoneNum">
		<xs:annotation>
			<xs:documentation>Расширенная информация о контактном телефоне</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PhoneType" default="Mobile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип телефона</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PhoneCode" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код оператора связи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер телефона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneCountryPrefix" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneExt" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Добавочный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneFull" type="PhoneFull_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код оператора связи и номер телефона</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentityCard_Type">
		<xs:annotation>
			<xs:documentation>Универсальный тип ДУЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdType" type="OpenEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdSeries" type="IdSeries_Type">
				<xs:annotation>
					<xs:documentation>Серия ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdNum" type="IdNum_Type">
				<xs:annotation>
					<xs:documentation>Номер ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDt" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи ДУЛ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedBy" type="IssuedBy_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Орган, выдавший ДУЛ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="Issuer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование, либо код организации, выдавшей ДУЛ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocTypeDescription" type="C" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное наименование типа документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentityCards_Type">
		<xs:sequence>
			<xs:element name="IdentityCard" type="IdentityCard_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuProductInfo_Type">
		<xs:sequence>
			<xs:element name="PolicyDetails" type="PolicyDetails_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание реквизитов договора страхования: Серия, номер и дата выдачи полиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала договора страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания договора страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyEffectiveFrom_61" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала договора страхования пр риску Дожитие застрахованного лица до события</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceTerm" type="Integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок страхования в месяцах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNUSA" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия ИНН США</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNOther" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия ИНН других государство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxId" type="TaxIdType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsurCustInfo" type="RelPhysPerson_Type"/>
			<xs:element name="PostAddr" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="PostAddr_Type">
							<xs:sequence>
								<xs:element name="Addr1" type="Addr1_Type">
									<xs:annotation>
										<xs:documentation>Строка адреса 1</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AddrType">
									<xs:annotation>
										<xs:documentation>Тип адреса. Предопределенные значения:
Seasonal – сезонный
Primary – основной
Secondary – второй
Business – рабочий
Home – домашний
					</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="AddressType_Type">
											<xs:enumeration value="Seasonal"/>
											<xs:enumeration value="Primary"/>
											<xs:enumeration value="Secondary"/>
											<xs:enumeration value="Business"/>
											<xs:enumeration value="Home"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="InspectorFIO" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО инспектора, оформившего страховку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Segment" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сегмент</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsNewCredit" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>True – кредит новый, иначе - действующий</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditType" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип кредита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDt" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заключения кредитного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreemtNum" type="AgreemtNum_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер кредитного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAgreementTerm" type="Integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок кредита в месяцах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма кредита</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CurrencyAmount_Type">
							<xs:sequence>
								<xs:element name="Amt" type="Amt_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сумма</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MonthlyPayment" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ежемесячный платеж</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeInsuranceFlag" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак "Включать страховку в кредит"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctCur" type="AcctCur_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Валюта кредита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceRate" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховой тариф</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая сумма</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CurrencyAmount_Type">
							<xs:sequence>
								<xs:element name="Amt" type="Amt_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сумма</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="InsuranceSettlementAmount" type="Amt_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая сумма в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceSettlementAmountText" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая сумма в рублях прописью</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountBonus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CurrencyAmount_Type">
							<xs:sequence>
								<xs:element name="Amt" type="Amt_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сумма</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="InsuranceSettlementPremium" type="Amt_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceSettlementPremiumText" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия в рублях прописью</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedValue" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расчетная величина договору страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TB" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТБ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OSB" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОСБ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VSP" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ВСП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceDocInfo_Type">
		<xs:sequence>
			<xs:element name="RequestID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID заявки в ETSM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID источника сообщения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsurProductCode" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул продукта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuProductInfo" type="InsuProductInfo_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceInfo_Type">
		<xs:sequence>
			<xs:element name="BusinessProcessNumber" type="String">
				<xs:annotation>
					<xs:documentation>Номер бизнес-процесса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsurProductCode" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул продукта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditType" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип кредита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitCreditCard" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лимит кредитной карты (Только для ДСЖ КК)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardCurrency" type="Currency_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Валюта кредитной карты (Только для ДСЖ КК)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditStatus" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус кредита </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditTerm" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок кредита в месяцах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAmount" type="CurrencyAmount_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма и валюта кредита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAmountDebt" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма кредитной задолженности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyPayment" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ежемесячный платеж</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoanAcctId" type="AcctId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ссудного счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreemtNum" type="AgreemtNum_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер кредитного договора. Используется основной счет договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDt" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заключения кредитного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeInsuranceFlag" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак «Включить страховку в кредит»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCard " type="CreditCard_Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Данные кредитной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationMode" type="OpenEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип расчета СП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditOffer" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак оформления страховки по кредитной оферте, по-умолчанию 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsProductID" type="UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Страхового продукта </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PercentageInsuranceCoverage" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Процент страховой защиты (%). В целых числах: 10, 50, 100.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceTerritoryID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Территория действия полиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceTerritory" type="InsuranceTerritory_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Территория страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayOfTrip" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество дней путешествия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripFromDate" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала путешествия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripToDate" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания путешествия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyOneYear" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полис на 1 год:
0 – нет
1 – да 
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayOfInsurance" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дней страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentMethod" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак способа оплаты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsProductIDIC" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Страхового продукта АС СК</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceApplicationDay" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата оформления заявки клиентом для заключения договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceContractDay" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заключения страхового договора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsurancePolicyDetails_Type">
		<xs:annotation>
			<xs:documentation>Информация о кредите</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustInfo" type="CustInfo_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Контактная информация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceInfo" type="InsuranceInfo_Type" minOccurs="0"/>
			<xs:element name="RequestID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID заявки в ETSM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID источника формирования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия страховки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания действия страховки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mode" type="Mode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Режим обработки заявления (в запросе на редактирование «upd»)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationStatus" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclineReasonSource" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Источник отклонения заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclineReasonComment" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отклонения заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsurancePremium" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия (общая сумма за страхование по всем рискам)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceRiskList" type="InsuranceRiskList_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Перечень страховых рисков и сумм</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredPersonInfo" type="InsuredPersonInfo_Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Информация о застрахованных</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredPersonList" type="InsuredPersonList_Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Перечень застрахованных лиц</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredAdditionalID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Дополнительной информации по застрахованному</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredAdditional" type="InsuredAdditional_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация по застрахованному </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealtyTypeID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Типа объекта/недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealtyType" type="Realty_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип объекта/недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealtyAfter1955" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год постройки:
0 – менее 1955
1 – более 1955 
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealtyHasWood" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Деревянные перекрытия:
0 – отсутствуют
1 – присутствуют
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealtyAddressCopy" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес объекта страхования с адресом регистрации:
0 – не совпадает
1 - совпадает
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="PostAddr_Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Адрес застрахованного объекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID страхового договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyNumber" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер полиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicySeries" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия полиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Payment" type="Payment_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Платеж</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsurancePolicyStatus_Type">
		<xs:sequence>
			<xs:element name="RequestID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID заявки в ETSM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID источника сообщения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationStatus" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountBonus">
				<xs:annotation>
					<xs:documentation>Страховая премия</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CurrencyAmount_Type">
							<xs:sequence>
								<xs:element name="Amt" type="Amt_Type">
									<xs:annotation>
										<xs:documentation>Сумма</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая сумма</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CurrencyAmount_Type">
							<xs:sequence>
								<xs:element name="Amt" type="Amt_Type">
									<xs:annotation>
										<xs:documentation>Сумма</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreditAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма и валюта кредита (для ЕРИБ)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CurrencyAmount_Type">
							<xs:sequence>
								<xs:element name="Amt" type="Amt_Type">
									<xs:annotation>
										<xs:documentation>Сумма</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CurCode" type="CurCode_Type">
									<xs:annotation>
										<xs:documentation>Код валюты. Заполняется в случае наличия поля CurRate.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания страхования/срока кредитования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateTime" type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата/время последнего действия. Не заполняется, если OpCode="get"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskList" type="InsuranceRiskList_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContractID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID страхового договора</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PolicyNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер полиса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PolicySeries" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия полиса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuredPersonList_Type">
		<xs:annotation>
			<xs:documentation>Перечень застрахованных лиц</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InsuredFirstName" type="FirstName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Застрахованный: Имя </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredLastName" type="LastName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Застрахованный: Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredBirthday" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Застрахованный: Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceRiskList_Type">
		<xs:annotation>
			<xs:documentation>Перечень страховых рисков и сумм</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RiskID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID риска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskItem" type="RiskItem_Type">
				<xs:annotation>
					<xs:documentation>Наименование риска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsAdditional" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак дополнительного страхового риска (только для опциональных рисков ВЗР)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tarif " type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховой тариф</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskPremium" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия по риску в валюте</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskPremiumRu" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая премия по риску в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsSumID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Страхового покрытия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsSum" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховое покрытие по риску (страховая сумма)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskSumRu" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховое покрытие по риску (страховая сумма) в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsChecked" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Учитывать риск при расчете (только для доп. рисков, которые клиент может отключить)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsCurrencyID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID валюты страховой суммы (страхового покрытия)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskInsCurrency" type="Currency_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Валюта страхового покрытия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskPremiumCurrencyID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID валюты страховой премии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiskPremiumCurrency" type="Currency_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Валюта страховой премии</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperInfo_Type">
		<xs:sequence>
			<xs:element name="OperLogin" type="Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Логин КИ в системе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperFIO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО КИ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SAPID" type="Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SAP ID КИ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesChannelCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код канала продажи.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SalesChannel" type="SalesChannel_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Канал продаж</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManagerFIO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО ответственного сотрудника / DSA, может быть пустым</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ManagerSAPID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Если « Ф.И.О. работника Банка, принявшего и проверившего кредитную заявку»=  «Тот же сотрудник, который зарегистрировал заявку в системе», то необходимо брать SAP ID  сотрудника осуществившего ввод кредитной заявки иначе берется SAP ID продавца</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgInfo_Type">
		<xs:annotation>
			<xs:documentation>Сведения о трудоустройстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeOrgInfo" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Признак трудоустройства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Profession" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Профессия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegalName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации  (полное)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScopeWork" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сфера деятельности</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="JobTitle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonInfo_Type">
		<xs:annotation>
			<xs:documentation>Персональная информация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расширенные параметры ФИО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfo_Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Контактная информацию(адрес, телефон)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDt" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="Gender_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол. Значения:Male – мужской Female – женский Unknown – неизвестен</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaritalStatus" type="MaritalStatus_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Семейное положение.
Предопределенные значения:
Married – женат (замужем)
Single – холост (не замужем)
Divorced – разведен (-а)
Separation - раздельное проживание 
Widow – вдовец (вдова)
Civil –гражданский брак
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityCards" type="IdentityCards_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Перечень ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="BirthPlace_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreementInsuranceRules " type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Время и дата подтверждения согласия с условиями страхованиями</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreementTransferPersonalData " type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Время и дата подтверждения согласия по передаче перс.данных</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgInfo" type="OrgInfo_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о трудоустройстве</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Employee" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак сотрудника</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CitizenshipID" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>id Гражданства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Citizenship" type="CitizenShip_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Гражданство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonInfo_short_Type">
		<xs:annotation>
			<xs:documentation>Персональная информация</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="PersonInfo_Type">
				<xs:sequence>
					<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Расширенные параметры ФИО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCards" type="IdentityCards_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Перечень ДУЛ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonName_Type">
		<xs:annotation>
			<xs:documentation source="WMQI_DOCUMENTATION">ФИО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LastName" type="LastName_Type">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="FirstName_Type">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="MiddleName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyDetails_Type">
		<xs:annotation>
			<xs:documentation>Описание реквизитов договора страхования: Серия, номер и дата выдачи полиса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Series" type="Insur_PolicySeries_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Num" type="Insur_PolicyNum_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDt" type="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddr_Type">
		<xs:annotation>
			<xs:documentation source="WMQI_DOCUMENTATION">Почтовый адрес</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Addr1" type="Addr1_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Строка адреса 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="City_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddrType" type="AddressType_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип адреса. Предопределенные значения:
Seasonal – сезонный
Primary – основной
Secondary – второй
Business – рабочий
Home – домашний
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Place" type="Place_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="Street_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование улицы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="House" type="House_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер дома</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Corpus" type="Corpus_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="Building_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flat" type="Flat_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер квартиры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="Region_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регион</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelPhysPerson_Type">
		<xs:annotation>
			<xs:documentation>Информация о физическом лице &lt;PersonInfo&gt;</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО клиента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Birthday" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол. Значения:Male – мужской Female – женский Unknown – неизвестен</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Gender_Type">
						<xs:enumeration value="Female"/>
						<xs:enumeration value="Male"/>
						<xs:enumeration value="Unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Phone" type="ExtPhoneNum">
				<xs:annotation>
					<xs:documentation>Телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddr" type="EMailAddr_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной почты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Citizenship" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Гражданство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Age" type="String" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возраст</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityCard" type="IdentityCard_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Удостоверение личности.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxIdType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Тип ИНН:
“Russia” – ИНН РФ
“USA” – ИНН США
“Other” – ИНН другого гос-ва
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Russia"/>
						<xs:enumeration value="USA"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Номер ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Payment_Type">
		<xs:annotation>
			<xs:documentation>Тип платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentMethod" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Способ оплаты:
0 - разовый платёж.
1 - ежемесячный платёж.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentID">
				<xs:annotation>
					<xs:documentation>ID платежа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentSum" type="xs:double">
				<xs:annotation>
					<xs:documentation>Сумма платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCur">
				<xs:annotation>
					<xs:documentation>Валюта платежа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicRS_Type">
		<xs:annotation>
			<xs:documentation>Тип используемый как формат сообщения - Ответ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RqUID" type="RqUID_Type">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqTm" type="DateTime">
				<xs:annotation>
					<xs:documentation>дата и время запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>уникальный идентификатор операции</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type">
				<xs:annotation>
					<xs:documentation>идентификатор системы провайдера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCName" type="SPName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>идентификатор системы потребителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPER_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер операции (ЕКП)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TSMMessageId" type="UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор сообщения TSM</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicRQ_Type">
		<xs:annotation>
			<xs:documentation>Тип используемый как формат сообщения - Запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RqUID">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="RqUID_Type">
						<xs:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RqTm" type="DateTime">
				<xs:annotation>
					<xs:documentation>Дата и время запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RES_UID" type="UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор клиентской сессии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный номер операции</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="C">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type">
				<xs:annotation>
					<xs:documentation>Идентификатор системы провайдера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCName" type="SPName_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы потребителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPER_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер операции (ЕКП)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TSMMessageId" type="UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор сообщения TSM</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status_Type">
		<xs:annotation>
			<xs:documentation>Статус ответа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="StatusCode_Type">
				<xs:annotation>
					<xs:documentation>Статусный код возврата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Severity" type="Severity_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalStatus" type="AdditionalStatus_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceApp_Type">
		<xs:annotation>
			<xs:documentation>Данные по страховому продукту</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reference" type="Insur_Reference_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID (референс) страховки, по которой запрашиваются данные</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreemtId" type="AgreemtId_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор договора по которому осуществляется поиск договора в АС БС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessProcess" type="Insur_BP_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование бизнес-процесса, в рамках которого оформлена страховка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductType" type="Insur_ProductType_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа продукта, в рамках которого оформлена страховка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="Insur_Status_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус страховки для отображения. Для страховых продуктов (Действует, Срок действия истекает, Срок действия истек, Аннулирован).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Company" type="Insur_Company_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая компания для отображения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Program" type="Insur_Program_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая программа для отображения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия страховки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания действия страховки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayOfTrip" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество дней путешествия (только для страхования путешественников)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNILS" type="SNILS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер СНИЛС для пенсионного страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="CurrencyAmount_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховая сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyDetails" type="PolicyDetails_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание реквизитов договора страхования: Серия, номер и дата выдачи полиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Risks" type="Insur_Risks_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание страховых рисков</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="Insur_AdditionalInfo_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация (№ и дата кредитного договора (при условии оформления страховки в рамках кредитной сделки)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Long">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="Insur_Program_Type">
		<xs:annotation>
			<xs:documentation>Страховая программа для отображения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_Company_Type">
		<xs:annotation>
			<xs:documentation>Страховая компания для отображения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_Status_Type">
		<xs:annotation>
			<xs:documentation>Статус страховки для отображения. Для страховых продуктов (Действует, Срок действия истекает, Срок действия истек, Аннулирован). Для НПФ продуктов (Договор заключен, Действующий клиент НПФ Сбербанка, Договор расторгнут).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_ProductType_Type">
		<xs:annotation>
			<xs:documentation>Наименование типа продукта, в рамках которого оформлена страховка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_BP_Type">
		<xs:annotation>
			<xs:documentation>Наименование бизнес-процесса, в рамках которого оформлена страховка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_Risks_Type">
		<xs:annotation>
			<xs:documentation>Описание страховых рисков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_AdditionalInfo_Type">
		<xs:annotation>
			<xs:documentation>Дополнительная информация (№ и дата кредитного договора (при условии оформления страховки в рамках кредитной сделки)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILS_Type">
		<xs:annotation>
			<xs:documentation>Номер СНИЛС для пенсионного страхования</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_Reference_Type">
		<xs:annotation>
			<xs:documentation>ID (референс) страховки, по которой запрашиваются данные</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RbBrchId_Type">
		<xs:annotation>
			<xs:documentation>Тип данных для 6-значного кода территориального банка. Используется для передачи кода ТБ, в котором обслуживается продукт клиента</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:length value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RbTbBrchId_Type">
		<xs:annotation>
			<xs:documentation>Тип данных для 8-значного кода территориального банка. Используется для передачи кода ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:length value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RsUID_Type">
		<xs:annotation>
			<xs:documentation>Идентификатор ответа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUID"/>
	</xs:simpleType>
	<xs:simpleType name="Realty_Type">
		<xs:annotation>
			<xs:documentation>Тип типа объекта/недвижимости</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsuredAdditional_Type">
		<xs:annotation>
			<xs:documentation>Тип дополнительной информации по застрахованному </xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CitizenShip_Type">
		<xs:annotation>
			<xs:documentation>Гражданство.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:maxLength value="60"/>
			<xs:pattern value="[А-Яа-яЁё\s]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:annotation>
			<xs:documentation>Тип валюты страхового покрытия</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RiskItem_Type">
		<xs:annotation>
			<xs:documentation>Тип наименования риска</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:maxLength value="50"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsuredGroup_Type">
		<xs:annotation>
			<xs:documentation>Тип возрастной группы застрахованных.
			«Young», соответствует Дети 0-2 года
			«Adult», соответствует Дети/родители 3-60 лет
			«Grand», соответствует Родители 61-70 лет;
			«Total», общее количество
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsuranceTerritory_Type">
		<xs:annotation>
			<xs:documentation>Тип территории страхования</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:maxLength value="50"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneFull_Type">
		<xs:annotation>
			<xs:documentation>Тип кода оператора связи и номера телефона</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:pattern value="\+7\(([0-9]{3})\)([0-9]{3})\-([0-9]{2})\-([0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AcctCur_Type">
		<xs:annotation>
			<xs:documentation>Валюта счета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AcctId_Type">
		<xs:annotation>
			<xs:documentation>Номер счета (карточного, кредитного, депозитного)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Addr1_Type">
		<xs:annotation>
			<xs:documentation>Строка адреса 1.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="Seasonal"/>
			<xs:enumeration value="Primary"/>
			<xs:enumeration value="Secondary"/>
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Home"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgreemtNum_Type">
		<xs:annotation>
			<xs:documentation>Номер кредитного договора. Используется основной счет договора</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgreemtId_Type">
		<xs:annotation>
			<xs:documentation>Идентификатор договора по которому осуществляется поиск договора в АС БС. Формируется в АС БС при отправке сообщения для MDM в формате APPLICATIONNO/PRODUCTOFFERNO </xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="39"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amt_Type">
		<xs:annotation>
			<xs:documentation>Сумма</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal"/>
	</xs:simpleType>
	<xs:simpleType name="AvailDt_Type">
		<xs:annotation>
			<xs:documentation>Дата/время готовности ответа. Расчетное время, когда будет готов ответ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BirthPlace_Type">
		<xs:annotation>
			<xs:documentation>Место рождения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:annotation>
			<xs:documentation>Логический тип.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="BranchId_Type">
		<xs:annotation>
			<xs:documentation>Номер филиала банка. С лидирующими нулями.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Building_Type">
		<xs:annotation>
			<xs:documentation>Строение</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C">
		<xs:annotation>
			<xs:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="City_Type">
		<xs:annotation>
			<xs:documentation>Населенный пункт</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClosedEnum">
		<xs:annotation>
			<xs:documentation>Закрытое перечисление. Перечисление содержит	конечный набор допустимых значений. Другие значения не допустимы. Обнаружении значения,	не входящего	в набор допустимых значений,	трактуется как ошибка в любом узле				системы на любом этапе обработки
				сообщения.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Corpus_Type">
		<xs:annotation>
			<xs:documentation>Корпус</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurCode_Type">
		<xs:annotation>
			<xs:documentation>Код валюты. ISO-4217.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurConvertRule_Type">
		<xs:annotation>
			<xs:documentation>Признак котировки. 
				Допустимыми значениями являются Direct и Indirect (прямая и обратная).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ClosedEnum"/>
	</xs:simpleType>
	<xs:simpleType name="CurRate_Type">
		<xs:annotation>
			<xs:documentation>Курс обмена валюты
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal"/>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:annotation>
			<xs:documentation>Дата</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="((20)|(19)|(18))\d\d-((0[1-9]|1[012])-(0[1-9]|[12]\d)|(0[13-9]|1[012])-30|(0[13578]|1[02])-31)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:annotation>
			<xs:documentation>Дата и время</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal">
		<xs:annotation>
			<xs:documentation>Десятичный тип.	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\+|\-)?[0-9]*\.?[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMailAddr_Type">
		<xs:annotation>
			<xs:documentation>Адрес электронной почты.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="128"/>
			<xs:pattern value="([-\w._]+@([A-z0-9][-A-z0-9]+.)+[A-z]{2,6})*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstName_Type">
		<xs:annotation>
			<xs:documentation>Имя пользователя. Имя в составе ФИО.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Flat_Type">
		<xs:annotation>
			<xs:documentation>Номер квартиры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Gender_Type">
		<xs:annotation>
			<xs:documentation>
Половая принадлежность.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="OpenEnum"/>
	</xs:simpleType>
	<xs:simpleType name="House_Type">
		<xs:annotation>
			<xs:documentation>Номер дома</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier">
		<xs:annotation>
			<xs:documentation>Идентификатор.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdNum_Type">
		<xs:annotation>
			<xs:documentation>Номер документа (ДУЛ)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdSeries_Type">
		<xs:annotation>
			<xs:documentation>
Серия документа ДУЛ.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_EndDate_Type">
		<xs:annotation>
			<xs:documentation>Дата окончания действия страховки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Date"/>
	</xs:simpleType>
	<xs:simpleType name="Insur_PolicyIssueDt_Type">
		<xs:annotation>
			<xs:documentation>Описание реквизитов договора страхования: Дата выдачи полиса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Date"/>
	</xs:simpleType>
	<xs:simpleType name="Insur_PolicyNum_Type">
		<xs:annotation>
			<xs:documentation>Описание реквизитов договора страхования: Номер</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_PolicySeries_Type">
		<xs:annotation>
			<xs:documentation>Описание реквизитов договора страхования: Серия</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Insur_StartDate_Type">
		<xs:annotation>
			<xs:documentation>Дата начала действия страховки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Date"/>
	</xs:simpleType>
	<xs:simpleType name="Integer">
		<xs:annotation>
			<xs:documentation>Целое число.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="IssuedBy_Type">
		<xs:annotation>
			<xs:documentation>
Кем выдан ДУЛ
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IssueLoc_Type">
		<xs:annotation>
			<xs:documentation>
Местоположение органа, выдавшего документ
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Issuer_Type">
		<xs:annotation>
			<xs:documentation>Орган, выдавший документ.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastName_Type">
		<xs:annotation>
			<xs:documentation>
Фамилия.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaritalStatus_Type">
		<xs:annotation>
			<xs:documentation>Семейное положение.
				Предопределенные значения:
				Married – женат (замужем)
				Single – холост (не замужем)
				Divorced – разведен (-а)
				Separation - раздельное проживание 
				Widow – вдовец (вдова)
				Civil –гражданский брак 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="OpenEnum">
			<xs:enumeration value="Divorced"/>
			<xs:enumeration value="Married"/>
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Widow"/>
			<xs:enumeration value="Separation"/>
			<xs:enumeration value="Civil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MiddleName_Type">
		<xs:annotation>
			<xs:documentation>Отчество.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Mode_Type">
		<xs:annotation>
			<xs:documentation>Тип режима обработки заявления</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:maxLength value="20"/>
			<xs:enumeration value="general"/>
			<xs:enumeration value="accept"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC">
		<xs:annotation>
			<xs:documentation>Строковый тип в кодировке ISO Latin-1.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OpenEnum">
		<xs:annotation>
			<xs:documentation>Открытое перечисление. Перечисление содержит конечный набор рекомендуемых значений. Допустимы значения, не входящие в рекомендуемый набор. Интепретация корректности значения осуществляется автором и конечным получателем. Промежуточные узлы не осуществляют проверку и считают значение всегда корректным.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperUID_Type">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор операции</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Place_Type">
		<xs:annotation>
			<xs:documentation>Населенный пункт</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostalCode_Type">
		<xs:annotation>
			<xs:documentation>
Почтовый индекс.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9\-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Region_Type">
		<xs:annotation>
			<xs:documentation>
Регион
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Reversal_Type">
		<xs:annotation>
			<xs:documentation>Признак сторно. По умолчанию сумма не относится к сторно.		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="RqUID_Type">
		<xs:annotation>
			<xs:documentation>
Идентификатор запроса.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUID"/>
	</xs:simpleType>
	<xs:simpleType name="SalesChannel_Type">
		<xs:annotation>
			<xs:documentation>Канал продаж</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9А-Яа-яЁёA-Za-z\\?=.*()/\-_\s:,!«»“”]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServerStatusCode_Type">
		<xs:annotation>
			<xs:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Severity_Type">
		<xs:annotation>
			<xs:documentation>
Серьезность ошибки.
			Значения: Error, Warn, Info
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ClosedEnum"/>
	</xs:simpleType>
	<xs:simpleType name="SPName_Type">
		<xs:annotation>
			<xs:documentation>Service Provider Name.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier"/>
	</xs:simpleType>
	<xs:simpleType name="StatusCode_Type">
		<xs:annotation>
			<xs:documentation>Статусный код возврата.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="StatusDesc_Type">
		<xs:annotation>
			<xs:documentation>Описание статуса.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Street_Type">
		<xs:annotation>
			<xs:documentation>Наименование улицы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>Уникальный 16 байтовый идентификатор. Для обмена в рамках интеграционных проектов Сбербанка представляется набором из 32 символов без разделителей в шестнадцатиричной системе. Размерность 36 оставлена для совместимости со стандартом IFX/</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="36"/>
			<xs:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
