mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.pprb.bs.flow.RequestForService/PutInsuranceFNOLRq/001/PutInsuranceFNOLRq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR25_UB_v01.xsd"/>
	<xs:element name="PutInsuranceFNOLRq" type="PutInsuranceFNOLRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Регистрация/обновление заявления о страховом случае"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PutInsuranceFNOLRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Регистрация/обновление заявления о страховом случае" </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация об отделении и менеджерах</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="Branch" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BranchID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Region" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Agency" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgencyID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannelID" type="SalesChannelID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannel" type="SalesChannel_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о клиентском менеджере</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="OperInfo_Type">
									<xs:sequence>
										<xs:element name="OperRoleID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID роли сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperRole" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование роли</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperLogin" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Логин КМ в системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ContactPhone" type="PhoneNumber_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Контактный телефон сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ContactEmail" type="EMailAddr_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Контактный email сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="JobTitle" type="JobTitle_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Название должности сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperFIO" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО КМ</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CustInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о клиенте</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="CustInfo_Type">
									<xs:sequence>
										<xs:element name="PersonInfo" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о физическом лице.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="PersonInfo_Type">
														<xs:sequence>
															<xs:element name="PersonID" type="Long" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PersonVersion" type="Integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор версии клиента в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BirthDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата рождения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GenderID" type="String_50" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор пола</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GenderCode" type="GenderCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код пола</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ФИО клиента</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="Mode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubMode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подрежим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusUpdateInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Обновление статуса объекта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="StatusUpdateInfo_Type">
														<xs:sequence>
															<xs:element name="ChangeReason" type="ChangeReason_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Причина назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Status" type="StatusType_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StatusDate" type="DateTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Комментарии</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="InsuredPersonInfo" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о застрахованных</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuredPersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="DeclarantIndex" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Порядковый номер заявителя в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClaimSettlementRequest" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация для урегулирования убытков</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="ClaimSettlementRequest_Type">
									<xs:sequence>
										<xs:element name="ClaimShortDescription" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Описание убытка</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="ClaimShortDescription_Type">
														<xs:sequence>
															<xs:element name="ClaimNumber" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="String_3000" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Детальное описание события</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimCode" type="ClaimCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimStatus" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimCategoryID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор категории убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimCategoryCode" type="ClaimCategoryCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Категория убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimDate" type="ClaimDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата наступления страхового случая</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NotificationDate" type="NotificationDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата регистрации заявления</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CreationDate" type="CreationDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата создания убытка в СК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ExternalCoverageID" type="ExternalCoverageID_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Идентификатор покрытия СК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Комментарии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ModificationHistory" type="ModificationHistory_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>История изменения убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AvailableCoveragesForClaim" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Доступные покрытия для УУ</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="AvailableCoveragesForClaim_Type">
																			<xs:sequence>
																				<xs:element name="ExternalCoverageID" type="ExternalCoverageID_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор покрытия клиента СК в рамках договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageCode" type="String_30" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код покрытия в страховой компании</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ContractSeries" type="String_25" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Серия договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ContractNumber" type="String_25" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskTypeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор типа риска</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskType" type="RiskItem_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Тип риска </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ScanDossier" type="ScanDossier_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Досье сканов</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
