mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.ufs.flow.RequestForService/GenerateInsuranceDocumentRq/001/GenerateInsuranceDocumentRq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR23_KSB_new_v2.xsd"/>
	<xs:element name="GenerateInsuranceDocumentRq" type="GenerateInsuranceDocumentRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Генерация страховой документации"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GenerateInsuranceDocumentRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Генерация страховой документации" </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация об отделении и менеджерах</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="Branch" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BranchId" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Region" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionId" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Agency" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgencyId" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о клиентском менеджере</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="OperInfo_Type">
									<xs:sequence>
										<xs:element name="OperRole" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Открытое перечисление: Роль сотруника в оформлении договора (из словаря ролей)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ContactPhone" type="PhoneNumber_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Контактный телефон сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ContactEmail" type="EMailAddr_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Контактный email сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="JobTitle" type="JobTitle_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Название должности сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperFIO" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО КМ</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperLastName" type="LastName_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фамилия</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperFirstName" type="FirstName_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Имя</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperMiddleName" type="MiddleName_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="GrantingDocument" type="GrantingDocument_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Правоустанавливающий документ</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CustInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о клиенте</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="CustInfo_Type">
									<xs:sequence>
										<xs:element name="PersonInfo" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о физическом лице.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="PersonInfo_Type">
														<xs:sequence>
															<xs:element name="PersonID" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PersonVersion" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор версии клиента в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер участника договора страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CRMSegmentId" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор клиентского сегмента</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CRMSegmentName" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Клиентский сегмент</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BirthDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата рождения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DeathDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата смерти</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GenderCode" type="GenderCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код пола</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Gender" type="Gender_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Пол. Значения:Male – мужской Female – женский Unknown – неизвестен</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MaritalStatusCode" type="MaritalStatusCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код семейного положения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MaritalStatus" type="MaritalStatus_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Семейное положение.
Предопределенные значения:
Married – женат (замужем)
Single – холост (не замужем)
Divorced – разведен (-а)
Separation - раздельное проживание 
Widow – вдовец (вдова)
Civil –гражданский брак
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BirthPlace" type="BirthPlace_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Место рождения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BirthCountryId" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID страны рождения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BirthCountry" type="BirthCountry_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страна рождения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Resident" type="Resident_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак резидента РФ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AuthenticationAccept" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Согласие на обработку персональных данных</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NotificationAccept" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Согласие на получение уведомлений</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PersonName" type="PersonName_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Расширенные параметры ФИО</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ContactInfo" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Контактная информацию(адрес, телефон)</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ContactInfo_Type">
																			<xs:sequence>
																				<xs:element name="Phone" type="ExtPhoneNum_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Блок с данными телефона</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EmailAddr" type="EMailAddr_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation source="WMQI_DOCUMENTATION">Адрес электронной почты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PostAddr" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Список почтовых адресов</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="PostAddr_Type">
																								<xs:sequence>
																									<xs:element name="StartDt" type="Date" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Дата начала действия адреса</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="EndDt" type="Date" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Дата окончания действия адреса</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="AddressType" type="AddressType_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Тип адреса: Reg - адрес регистрации, Post - адрес проживания</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Country" type="Country_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Страна</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="City" type="City_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Город</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Area" type="Area_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Район</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PostalCode" type="PostalCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Индекс</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Place" type="Place_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Населенный пункт</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Street" type="Street_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Наименование улицы</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="House" type="House_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Номер дома</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Corpus" type="Corpus_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Корпус</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Building" type="Building_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Стоение</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Flat" type="Flat_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Номер квартиры</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Region" type="Region_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Регион</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="IdentityCard" type="IdentityCard_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Документ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CitizenshipList" type="CitizenshipList_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Гражданства</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ResidencePermitList" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Вид на жительство</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ResidencePermitList_Type">
																			<xs:sequence>
																				<xs:element name="ResidencePermitCountry" type="CitizenShip_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Страна, выдавшая вид на жительство</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="EmploymentHistory" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Сведения о занятости (сокр)</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="EmploymentHistoryShort_Type">
																			<xs:sequence>
																				<xs:element name="Name" type="OrgName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование организации</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Field" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сфера деятельности организации</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="JobTitle" type="JobTitle_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Название должности</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Profession" type="Profession_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Профессия в настоящее время</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ProfessionRiskLevel" type="ProfessionRiskLevel_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Уровень риска профессии (определяется по справочнику)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="TINInfo" type="TINInfo_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Налоговые идентификаторы</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RelatedPerson" type="RelatedPerson_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Отношение к другим участникам договора страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Account" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Клиентский счёт</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Account_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Владелец счёта. Номер участника в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Default" type="Boolean" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Счет по умолчанию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Active" type="Boolean" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Активность счета</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CardNum" type="CardNum_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер дебетовой карты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AcctId" type="AcctId_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер счёта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AcctCur" type="AcctCur_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Валюта счёта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PaymentPurpose" type="Purpose_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Назначение платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BankName" type="BankName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование банка</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CorrAccount" type="AcctId_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Корреспондентский счет</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BankTIN" type="TaxId_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ИНН банка</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BankAccount" type="AcctId_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Расчетный счет банка</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BIC" type="BIC_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>БИК</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BankAddress" type="Addr1_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Адрес Банка</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BankPhone" type="PhoneNumber_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Телефон Банка</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AccHolder" type="AccHolder_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Владелец счёта (ФИО)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Recipient" type="Recipient_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Получатель платежа (ФИО)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="IBAN" type="IBAN_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Международный номер банковского счета</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="StatusUpdateInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Обновление статуса объекта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="StatusUpdateInfo_Type">
														<xs:sequence>
															<xs:element name="ChangeReason" type="ChangeReason_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Причина назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Status" type="StatusType_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Комментарии</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="SignDate" type="Insur_AgreementDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата заключения договора страхования</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceContractDay" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата заполнения заявления</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceRate" type="Insur_Rate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Страховой тариф, %</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="GuaranteedRate" type="GuaranteedRate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Гарантированная норма, %</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CouponProductType" type="CouponProductType_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Тип купонного продукта</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DeathRiskPayOrder" type="RiskPayOrder_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Порядок страховой выплаты по риску "Смерть"</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationType" type="ParticipationType_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CreationDecision" type="CreationDecision_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Решение</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="InsuranceProduct" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховой продукт</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceProduct_Type">
																			<xs:sequence>
																				<xs:element name="Name" type="Insur_ProductType_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование страхового продукта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ProductVersion" type="ProductVersion_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Версия страхового продукта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ExternalID" type="ExternalID_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код Страхового продукта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Валюты договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>ID Валюты </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PolicyData" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Блок данных по страхованию</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PolicyData_Type">
																			<xs:sequence>
																				<xs:element name="PolicySeries" type="PolicySeries_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Серия полиса</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PolicyNumber" type="PolicyNumber_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер полиса</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsurancePeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период действия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurancePeriod_Type">
																			<xs:sequence>
																				<xs:element name="ActionType" type="ActionType_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Тип действий (ADD/REMOVE/REPLACE_ALL)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Duration" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Срок действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DurationUnit" type="DurationUnit_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DurationUnitID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Единицы измерения действия периода страхования по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DateModified" type="Boolean" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Признак изменения StartDate or EndDate</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceSum" type="InsurCurAmt_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Страховая сумма</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClientPayFrequencyId" type="ClientPayFrequencyId_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность оплаты премии (идентификатор единицы измерения периодичности из справочника в мастер-системе)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClientPayFrequency" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность оплаты премии по договору</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Premium" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Страховая премия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier">
																					<xs:annotation>
																						<xs:documentation>ID валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceRiskDetails" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Детализация страховых рисков и сумм</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceRiskDetails_Type">
																			<xs:sequence>
																				<xs:element name="Family" type="Insur_Family_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Вид покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestmentDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата инвестирования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuredPersonInfo" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о застрахованных</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuredPersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Declaration" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Заполненная декларация</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="Declaration_Type">
																								<xs:sequence>
																									<xs:element name="DeclarationID" type="DeclarationID_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID декларации из справочника в мастер-системе</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Answers" type="Answers_Type" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation>Ответы на вопросы декларации</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceRiskList" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Покрытие</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceRiskList_Type">
																			<xs:sequence>
																				<xs:element name="RiskIndex" type="RiskIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер покрытия (по-порядку)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ParentRiskIndex" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер покрытия родителя (по-порядку)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Position" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Позиция покрытия в продукте</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskCode" type="RiskCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код покрытия в страховой компании</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskCodeId" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор кода покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageRiskName" type="CoverageRiskName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InsuranceRate" type="Insur_Rate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Страховой тариф, %</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="XRider" type="XRider_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дополнительное страхование жизни на срок</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="XRiderID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID дополнительного страхования жизни на срок</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ActionCode" type="ActionCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код действия (ADD/DEL)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Period" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Период действия покрытия</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurancePeriod_Type">
																								<xs:sequence>
																									<xs:element name="Duration" type="Integer" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Срок действия периода страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="DurationUnit" type="DurationUnit_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Единица измерения действия периода страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="DurationUnitID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Единицы измерения действия периода страхования по покрытию</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Дата начала действия</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Дата окончания действия</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="ClientPayFrequencyId" type="ClientPayFrequencyId_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Периодичности оплаты премии по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ClientPayFrequency" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Периодичность оплаты премии по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PremiumPayEndDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания выплаты премии по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoveragePayoutType" type="CoveragePayoutType_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Вариант выплат по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoveragePayoutTypeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Варианта выплат по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskPremiumAmount" type="InsurCurAmt_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Страховая премия по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RiskInsSumAmount" type="RiskAmount_type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Сумма страхового покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestmentStrategy" type="InvestmentStrategy_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Инвестиционная стратегия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BeneficiaryInfo" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Информация о выгодоприобретателях</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="BenificiaryInfo_Type">
																								<xs:sequence>
																									<xs:element name="RightsLevel" type="Integer" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Номер очереди выгодоприобретателя</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="InternalID" type="PartyIndex_Type">
																										<xs:annotation>
																											<xs:documentation>Номер участника договора страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Percentage" type="Percentage_Type">
																										<xs:annotation>
																											<xs:documentation>Доля выгодоприобретателя (в%)</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AnnuityPeriod" type="AnnuityPeriod_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период получения ренты</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Sport" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Опция "Любительский спорт"</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Insurant" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Страхователь</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Insurant_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Порядковый номер страхователя в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ActionCode" type="ActionCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Тип действий (ADD/REMOVE/REPLACE_ALL/UPDATE)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="PayerID" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID плательщика в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PayeeIndex" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Порядковый номер получателя платежа в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PayeePersonInfo" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Получатель платежа в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PayerIndex" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Порядковый номер плательщика в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PayerPersonInfo" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Плательщик в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DeclarantIndex" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Порядковый номер заявителя в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DeclarantPersonInfo" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Заявитель в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Representer" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Представители</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Representer_Type">
																			<xs:sequence>
																				<xs:element name="RepresentedIndex" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Порядковый номер представляемого участника договора страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RepresentedPersonInfo" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Представляемый участник договора страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RepresenterIndex" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Порядковый номер представителя несовершеннолетнего в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RepresenterPersonInfo" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Представитель в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="GrantingDocument" type="GrantingDocument_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Правоустанавливающий документ</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="PaymentSchedule" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>График платежей</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PaymentSchedule_Type">
																			<xs:sequence>
																				<xs:element name="ActionType" type="ActionType_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Тип действий (ADD/REMOVE/REPLACE_ALL)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ExtBillID" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер расчетного счета</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPayDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановая дата платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPayDateEnd" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановая дата окончания платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ActualPayDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Фактическая дата платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PayDelay" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Льготный период</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PayDelayUnits" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения льготного периода</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPaymentVal" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановая сумма платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPaymentCur" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения плановой суммы платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedAgentFee" type="Decimal" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановое значение агентского вознаграждения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ActualPaymentVal" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Фактическая сумма платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ActualPaymentCur" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения фактической суммы платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PaymentStatus" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Статус оплаты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PaymentDate" type="Ref_PaymentDate_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Даты платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PayPeriodicity" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Периодичность платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="TotalPaid" type="Decimal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Всего оплачено</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ContractOptions" type="ContractOptions_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Опции договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="SelectedInvestFund" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о выбранных инвестиционных фондах</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="SelectedInvestFund_Type">
																			<xs:sequence>
																				<xs:element name="InvestFund" type="InvestFundName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование фонда из справочника в мастер-системе</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestFundRate" type="InvestFundPart_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Доля инвестиционного фонда</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AddedAmount" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Добавляемая сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Id кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Unit" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество паев</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RiskFundRate" type="RiskFundRate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Рисковый фонд (Регулярно распределяемые паи в % от взноса)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelCode" type="String_50" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код уровня гарантий</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelCodeID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID уровня гарантии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevel" type="GuaranteeLevelName_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Наименование уровня гарантии из справочника в мастер-системе (Стандартный (100%) или Повышенный (>100%))</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelRate" type="Coefficient_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Коэффициент (Примеры: 100%, 105%, 107%, 110%)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ExemptionPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Льготный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RedemptionSchedule" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>График выкупных сумм</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Schedule_Type">
																			<xs:sequence>
																				<xs:element name="StartDate" type="StartDate_Type">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="EndDate_Type">
																					<xs:annotation>
																						<xs:documentation>Дата окончания действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Rate" type="Rate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Процент выкупной суммы </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Amount" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Размер выкупной суммы</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurCurAmt_Type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier">
																										<xs:annotation>
																											<xs:documentation>ID валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="FundCostSchedule" type="Schedule_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>График стоимости гарантийного фонда</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ScanDossier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Досье сканов</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ScanDossier_Type">
																			<xs:sequence>
																				<xs:element name="ScanList" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Список сканов</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="ScanList_Type">
																								<xs:sequence>
																									<xs:element name="ScanType" type="ScanType_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Тип скана</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ScanTypeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID типа скана</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ScanGroup" type="ScanGroup_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Группа скана</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Name" type="NameDoc_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Наименование документа</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation>Комментарий к документу</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AccumPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Накопительный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="StartDate" type="StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="EndDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="PayoutPeriodicity" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность выплат </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="StartDate" type="StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="EndDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RentPayDateFrom" type="RentPayDateFrom_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период выплаты ренты с</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPayDateTo" type="RentPayDateTo_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период выплаты ренты по</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentMaxRate" type="GuaranteedRentMaxRate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Максимальная гарантированная рента (в % от взноса)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentMax" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Максимальная гарантированная рента</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier">
																					<xs:annotation>
																						<xs:documentation>ID валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentMin" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Минимальная гарантированная рента</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier">
																					<xs:annotation>
																						<xs:documentation>ID валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentAfterPoHPPer" type="GuaranteedRentAfterPoHPPer_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента после периода повышенных выплат, в %</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentAfterPoHP" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента после периода повышенных выплат</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier">
																					<xs:annotation>
																						<xs:documentation>ID валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRent" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента в валюте программы</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier">
																					<xs:annotation>
																						<xs:documentation>ID валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="Insurer" type="Insurer_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховщик</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InvoiceInfo" type="PaymentDetails_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Реквизиты платежа</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="TrancheSchedule" type="TrancheSchedule_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>График траншей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LinkedRequests" type="LinkedRequests_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы связанных заявлений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LinkedSupplimentary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы связанных допсоглашений</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="LinkedSupplAgreements_Type">
									<xs:sequence>
										<xs:element name="Number" type="Number_Add_Agreem" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер доп. соглашения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Scope" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Признак административных или технических изменений</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ActionType" type="Add_Agrrem_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Тип допсоглашения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ActionSubType" type="Add_Agrrem_SubType_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подтип допсоглашения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgreementStartDate" type="StartDate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата начала действия доп. соглашения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AcceptDate" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата акцепта доп. соглашения</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClaimSettlementRequest" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация для урегулирования убытков</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="ClaimSettlementRequest_Type">
									<xs:sequence>
										<xs:element name="ClaimShortDescription" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Описание убытка</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="ClaimShortDescription_Type">
														<xs:sequence>
															<xs:element name="ClaimID" type="Integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="String_3000" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Детальное описание события</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimCode" type="ClaimCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimStatus" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimCategoryCode" type="ClaimCategoryCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Категория убытка</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClaimDate" type="ClaimDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата наступления страхового случая</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NotificationDate" type="NotificationDate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата регистрации заявления</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AvailableCoveragesForClaim" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Доступные покрытия для УУ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="AvailableCoveragesForClaim_Type">
														<xs:sequence>
															<xs:element name="ContractSeriesAndNumber" type="ContractSeriesAndNumber_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер и серия договора страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PolicyBeginDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата начала действия договора страхования</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskType" type="RiskItem_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип риска </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskDecision" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Решение по риску ACCEPT/REFUSED</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PostSaleRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрос</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="PostSaleRequest_Type">
									<xs:sequence>
										<xs:element name="Clause" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Оговорки в договор</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="Clause_Type">
														<xs:sequence>
															<xs:element name="Name" type="Clause_Name_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Описание</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Type" type="Clause_Type_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип оговорки</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsuredPersonInfo" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ЗЛ, касаемые оговорок</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuredPersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Номер участника договора страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="BeneficiaryList" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Список ВП, касаемые оговорок</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="BeneficiaryList_Type">
																			<xs:sequence>
																				<xs:element name="Beneficiary" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>ВП, касаемые оговорок</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="Beneficiary_Type">
																								<xs:sequence>
																									<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Номер участника договора страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Percentage" type="Percentage_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Доля выгодоприобретателя (в%)</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Editable" type="Boolean" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Признак неизменяемого выгодоприобретателя</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PrintingDocument" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о печатной форме</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="PrintingDocument_Type">
									<xs:sequence>
										<xs:element name="Identifier" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор печатной формы</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FormatType" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Тип формата документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Name" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование печатной формы</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="GenerateDate" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата заявки на печать</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PrintActualVersion" type="Boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Печать формы актуальной версии</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
