mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.ufs.flow.RequestForService/SelectInsuranceProductRq/002/SelectInsuranceProductRq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR25_UB_v01.xsd"/>
	<xs:element name="SelectInsuranceProductRq" type="SelectInsuranceProductRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос "Подбор страхового продукта"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SelectInsuranceProductRq_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса "Подбор страхового продукта" </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRQ_Type">
				<xs:sequence>
					<xs:element name="BankInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация об отделении и менеджерах</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="BankInfo_Type">
									<xs:sequence>
										<xs:element name="Branch" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BranchID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID филиала</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Region" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RegionID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID тербанка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Agency" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AgencyID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID отделения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannelID" type="SalesChannelID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SalesChannel" type="SalesChannel_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код канала продаж</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CRMSegmentID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор клиентского сегмента</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CRMSegmentCode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код Клиентского сегмента</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="OperInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о клиентском менеджере</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="OperInfo_Type">
									<xs:sequence>
										<xs:element name="OperRoleID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ID роли сотрудника</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperRole" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование роли</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperLogin" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Логин КМ в системе</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CustInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о клиенте</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="CustInfo_Type">
									<xs:sequence>
										<xs:element name="PersonInfo" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о физическом лице.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="PersonInfo_Type">
														<xs:sequence>
															<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BirthDate" type="Date" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата рождения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GenderID" type="String_50" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор пола</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GenderCode" type="GenderCode_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код пола</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Employee" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Признак сотрудника</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="EmploymentHistory" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Сведения о занятости</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="EmploymentHistoryShort_Type">
																			<xs:sequence>
																				<xs:element name="ProfessionRiskLevel" type="ProfessionRiskLevel_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код уровня риска профессии</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ProfessionRiskLevelID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID уровня риска профессии</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="Mode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubMode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подрежим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceContractDay" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата заполнения заявления</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationTypeID" type="ParticipationTypeID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationTypeCode" type="String_50" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationType" type="ParticipationType_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ProgramTypeID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор типа программы</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ProgramTypeCode" type="String_50" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код типа программы</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="CalculationMode" type="OpenEnum" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Тип расчета СП</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CalculationModeID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код режима расчета</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsuranceProduct" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховой продукт</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceProduct_Type">
																			<xs:sequence>
																				<xs:element name="GlobalID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Страхового продукта </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ProductVersion" type="ProductVersion_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Версия страхового продукта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ExternalID" type="ExternalID_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код Страхового продукта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Код валюты договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>ID Валюты </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InsurancePeriod" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Период действия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurancePeriod_Type">
																			<xs:sequence>
																				<xs:element name="Duration" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Срок действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DurationUnit" type="DurationUnit_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код единицы измерения действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DurationUnitID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceSum" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Страховая сумма</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="ClientPayFrequencyId" type="ClientPayFrequencyId_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность оплаты премии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClientPayFrequency" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код периодичности оплаты премии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Premium" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Страховая премия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuredPersonInfo" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о застрахованных</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuredPersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="IsChild" type="Boolean" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Является ребенком (несовершеннолетним)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Declaration" type="Declaration_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Заполненная декларация</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceCoverageList" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Покрытие</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceCoverageList_Type">
																			<xs:sequence>
																				<xs:element name="Position" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Позиция покрытия в продукте</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageCode" type="String_30" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код покрытия в страховой компании</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageCodeId" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="XRider" type="XRider_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код дополнительного страхования жизни на срок</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="XRiderID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID дополнительного страхования жизни на срок</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageOption" type="String_30" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Опция по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageOptionID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID опции по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoveragePremiumAmount" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Страховая премия по покрытию</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurCurAmt_Type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Кода валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="CoverageInsSumAmount" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Сумма страхового покрытия</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="CoverageAmount_type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Кода валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="InvestmentStrategy" type="InvestmentStrategy_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Инвестиционная стратегия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestmentStrategyID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Инвестиционной стратегии</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника (ЗЛ) страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AnnuityPeriod" type="AnnuityPeriod_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период получения ренты</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AnnuityPeriodID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID периода</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Sport" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Опция "Любительский спорт"</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Insurant" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страхователь</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Insurant_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Порядковый номер страхователя в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="ContractOptions" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Опции договора</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ContractOptions_Type">
																			<xs:sequence>
																				<xs:element name="AgrOptionCode" type="String_50" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код опции договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AgrOptionID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID опции договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="OptionParameters" type="OptionParameters_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Варианты опций договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="SelectedInvestFund" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о выбранных инвестиционных фондах</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="SelectedInvestFund_Type">
																			<xs:sequence>
																				<xs:element name="InvestFund" type="InvestFundName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование фонда из справочника в мастер-системе</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestFundID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID фонда из справочника в мастер-системе</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RiskFundRate" type="RiskFundRate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Рисковый фонд (Регулярно распределяемые паи в % от взноса)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskFund" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Рисковый фонд (Регулярно распределяемые паи, сумма)</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AssuranceLevelCode" type="String_50" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код уровня гарантий</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelCodeID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID уровня гарантии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevel" type="GuaranteeLevelName_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Наименование уровня гарантии из справочника в мастер-системе (Стандартный (100%) или Повышенный (>100%))</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelRate" type="Coefficient_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Коэффициент (Примеры: 100%, 105%, 107%, 110%)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelRateID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID коэффициента</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ExemptionPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Льготный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AccumPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Накопительный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="PBtwRentPaymentPAndGuaranteedP" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Срок от начала выплат до начала периода наследуемых выплат</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="PoHPofRent" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период распределения повышенной ренты</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RatePoHP" type="RatePoHP_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Соотношение ренты после повышенного периода и ренты на повышенном периоде в %</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RateAfterInsDeath" type="RateAfterInsDeath_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Соотношение ренты после ухода одного из застрахованных из жизни</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPayFrequency" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPayFrequencyID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID периодичности выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PremiumRefundEndPP" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Выплата взноса в конце периода выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPaymentPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период выплаты ренты</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentMaxRate" type="GuaranteedRentMaxRate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Максимальная гарантированная рента (в % от взноса)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentMax" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Максимальная гарантированная рента</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentMin" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Минимальная гарантированная рента</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentAfterPoHPPer" type="GuaranteedRentAfterPoHPPer_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента после периода повышенных выплат, в %</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentAfterPoHP" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента после периода повышенных выплат</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRent" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента в валюте программы</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
