mergeXML/ub_adapters/ru.sbt.sbrf.esb.adapters.dzo_sbsj.flow.ResponseForService/CalcInsurancePremiumRs/004/CalcInsurancePremiumRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Types/PIR25_UB_v01.xsd"/>
	<xs:element name="CalcInsurancePremiumRs" type="CalcInsurancePremiumRs_Type">
		<xs:annotation>
			<xs:documentation>Ответ на запрос "Расчет страховой премии по продукту"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CalcInsurancePremiumRs_Type">
		<xs:annotation>
			<xs:documentation>Тип ответа на запрос "Расчет страховой премии по продукту"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRS_Type">
				<xs:sequence>
					<xs:element name="CustInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Блок атрибутов клиента банка</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="CustInfo_Type">
									<xs:sequence>
										<xs:element name="PersonInfo" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о физическом лице.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="PersonInfo_Type">
														<xs:sequence>
															<xs:element name="PersonID" type="Long" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PersonVersion" type="Integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Идентификатор версии клиента в ЕПК</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="EmploymentHistory" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Сведения о занятости</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="EmploymentHistoryShort_Type">
																			<xs:sequence>
																				<xs:element name="ProfessionRiskLevel" type="ProfessionRiskLevel_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код уровня риска профессии</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InsurancePolicyDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о страховом полисе</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="InsurancePolicyDetails_Type">
									<xs:sequence>
										<xs:element name="Mode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Режим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubMode" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Подрежим работы сервиса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusUpdateInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Обновление статуса объекта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="StatusUpdateInfo_Type">
														<xs:sequence>
															<xs:element name="ChangeReason" type="ChangeReason_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Причина назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Status" type="StatusType_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Статус</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StatusDate" type="DateTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Дата назначения статуса</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Comments" type="Comments_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Комментарии</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="ApplicationStatusID" type="Identifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор статуса Заявления/Договора в ППРБ.БС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ApplicationStatusCode" type="String_50" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код статуса Заявления/Договора в ППРБ.БС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ApplicationStatus" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статус заявления/Договора в ППРБ.БС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="IsActive" type="Boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Признак активного заявления</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceContractDay" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата заполнения заявления</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RequestEndDate" type="Date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата окончания действия заявления</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceRate" type="Insur_Rate_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Страховой тариф, %</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationTypeID" type="ParticipationTypeID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationTypeCode" type="String_50" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Код вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationType" type="ParticipationType_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Наименование вида участия из справочника в мастер-системе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Underwriting" type="Underwriting_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Признак андеррайтинга</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="UnderwritingReason" type="UnderwritingReason_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Описание причин андеррайтинга</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InsuranceInfo" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:restriction base="InsuranceInfo_Type">
														<xs:sequence>
															<xs:element name="InsuranceProduct" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Страховой продукт</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceProduct_Type">
																			<xs:sequence>
																				<xs:element name="GlobalID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Страхового продукта </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ExternalID" type="ExternalID_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код Страхового продукта</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Код валюты договора</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>ID Валюты </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PolicyData" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Блок данных по страхованию</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PolicyData_Type">
																			<xs:sequence>
																				<xs:element name="RequestID" type="Long" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID заявления в ППРБ.БС</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="RequestNumber" type="Insur_RequestNumber_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер заявки в СК</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PolicySeries" type="PolicySeries_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Серия полиса</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PolicyNumber" type="PolicyNumber_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер полиса</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsurancePeriod" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Период действия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurancePeriod_Type">
																			<xs:sequence>
																				<xs:element name="Duration" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Срок действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DurationUnit" type="DurationUnit_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код единицы измерения действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DurationUnitID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения действия периода страхования</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="ClientPayFrequencyId" type="ClientPayFrequencyId_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность оплаты премии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ClientPayFrequency" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код периодичности оплаты премии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Premium" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Страховая премия</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceRiskDetails" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Детализация страховых рисков и сумм</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceRiskDetails_Type">
																			<xs:sequence>
																				<xs:element name="CalculationDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата транша</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuredPersonInfo" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о застрахованных</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuredPersonInfo_Type">
																			<xs:sequence>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="InsuranceCoverageList" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Покрытие</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsuranceCoverageList_Type">
																			<xs:sequence>
																				<xs:element name="Coverage" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор покрытия клиента СК в рамках договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Position" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Позиция покрытия в продукте</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageCode" type="String_30" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код покрытия в страховой компании</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageCodeId" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InsuranceRate" type="Insur_Rate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Страховой тариф, %</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="XRider" type="XRider_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код дополнительного страхования жизни на срок</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="XRiderID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID дополнительного страхования жизни на срок</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Period" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Период действия покрытия</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurancePeriod_Type">
																								<xs:sequence>
																									<xs:element name="Duration" type="Integer" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Срок действия периода страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="DurationUnit" type="DurationUnit_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код единицы измерения действия периода страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="DurationUnitID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID единицы измерения действия периода страхования</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="StartDate" type="Insur_StartDate_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Дата начала действия</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="EndDate" type="Insur_EndDate_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Дата окончания действия</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="ClientPayFrequencyId" type="ClientPayFrequencyId_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Периодичности оплаты премии по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ClientPayFrequency" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Периодичность оплаты премии по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PremiumPayEndDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания выплаты премии по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageOption" type="String_30" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Опция по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoverageOptionID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID опции по покрытию</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CoveragePremiumAmount" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Страховая премия по покрытию</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurCurAmt_Type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Кода валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="CoverageInsSumAmount" type="CoverageAmount_type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Сумма страхового покрытия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EstimatedIncome" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ГСС с ожидаемой доходностью</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurCurAmt_Type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Кода валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="InvestmentStrategy" type="InvestmentStrategy_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Инвестиционная стратегия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestmentStrategyID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Инвестиционной стратегии</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InternalID" type="PartyIndex_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер участника (ЗЛ) страхования в пределах сообщения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RiskList" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Риск</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="RiskList_Type">
																			<xs:sequence>
																				<xs:element name="RiskCode" type="RiskCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код риска</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="BeneficiaryInfo" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Информация о выгодоприобретателях</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="BenificiaryInfo_Type">
																								<xs:sequence>
																									<xs:element name="InternalID" type="PartyIndex_Type">
																										<xs:annotation>
																											<xs:documentation>Номер участника страхования в пределах сообщения</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Percentage" type="Percentage_Type">
																										<xs:annotation>
																											<xs:documentation>Доля выгодоприобретателя (в%)</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AnnuityPeriod" type="AnnuityPeriod_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период получения ренты</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Sport" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Опция "Любительский спорт"</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PaymentSchedule" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>График платежей</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="PaymentSchedule_Type">
																			<xs:sequence>
																				<xs:element name="ExtBillID" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Номер расчетного счета</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPayDate" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановая дата платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPayDateEnd" type="Date" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановая дата окончания платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PayDelay" type="Integer" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Льготный период</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PayDelayUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор единицы измерения льготного периода</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PayDelayUnits" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения льготного периода</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPaymentVal" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановая сумма платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPaymentCurID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор единицы измерения плановой суммы платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedPaymentCur" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения плановой суммы платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PlannedAgentFee" type="Decimal" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Плановое значение агентского вознаграждения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PaymentTypeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Идентификатор типа платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PaymentType" type="String_255" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Тип платежа</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="ContractOptions" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Опции договора</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ContractOptions_Type">
																			<xs:sequence>
																				<xs:element name="AgrOptionCode" type="String_50" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код опции договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="AgrOptionID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID опции договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="OptionParameters" type="OptionParameters_Type" minOccurs="0" maxOccurs="unbounded">
																					<xs:annotation>
																						<xs:documentation>Варианты опций договора</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="SelectedInvestFund" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Информация о выбранных инвестиционных фондах</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="SelectedInvestFund_Type">
																			<xs:sequence>
																				<xs:element name="InvestFund" type="InvestFundName_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Наименование фонда из справочника в мастер-системе</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestFundID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID фонда из справочника в мастер-системе</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="InvestFundRate" type="InvestFundPart_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Доля инвестиционного фонда</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RiskFundRate" type="RiskFundRate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Рисковый фонд (Регулярно распределяемые паи в % от взноса)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RiskFund" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Рисковый фонд (Регулярно распределяемые паи, сумма)</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AssuranceLevelCode" type="String_50" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Код уровня гарантий</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelCodeID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID уровня гарантии</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelRate" type="Coefficient_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Коэффициент (Примеры: 100%, 105%, 107%, 110%)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AssuranceLevelRateID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID коэффициента</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ExemptionPeriod" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Льготный период</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="ExtraTerm_Type">
																			<xs:sequence>
																				<xs:element name="Count" type="Count_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Количество TermUnits</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnits" type="TermUnits_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Единица измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="TermUnitsID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID единицы измерения</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="RedemptionSchedule" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>График выкупных сумм</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Schedule_Type">
																			<xs:sequence>
																				<xs:element name="StartDate" type="StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="EndDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Rate" type="Rate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Процент выкупной суммы </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="DeathRiskAmount" type="Decimal" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма по риску смерть</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Amount" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurCurAmt_Type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Кода валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="FundCostSchedule" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>График стоимости гарантийного фонда</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="Schedule_Type">
																			<xs:sequence>
																				<xs:element name="StartDate" type="StartDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата начала действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="EndDate" type="EndDate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Дата окончания действия</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Rate" type="Rate_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Процент выкупной суммы </xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="Amount" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:restriction base="InsurCurAmt_Type">
																								<xs:sequence>
																									<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Сумма</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Код валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>ID Кода валюты</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:restriction>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="AccumPeriod" type="ExtraTerm_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Накопительный период</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedPeriod" type="ExtraTerm_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированный период</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PBtwRentPaymentPAndGuaranteedP" type="ExtraTerm_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Срок от начала выплат до начала периода наследуемых выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PoHPofRent" type="ExtraTerm_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период распределения повышенной ренты</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RatePoHP" type="RatePoHP_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Соотношение ренты после повышенного периода и ренты на повышенном периоде в %</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RateAfterInsDeath" type="RateAfterInsDeath_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Соотношение ренты после ухода одного из застрахованных из жизни</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPayFrequency" type="String_255" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Периодичность выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPayFrequencyID" type="Identifier" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>ID периодичности выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PremiumRefundEndPP" type="Boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Выплата взноса в конце периода выплат</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RentPaymentPeriod" type="ExtraTerm_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Период выплаты ренты</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentMaxRate" type="GuaranteedRentMaxRate_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Максимальная гарантированная рента (в % от взноса)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentMax" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Максимальная гарантированная рента</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentMin" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Минимальная гарантированная рента</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRentAfterPoHPPer" type="GuaranteedRentAfterPoHPPer_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента после периода повышенных выплат, в %</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="GuaranteedRentAfterPoHP" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента после периода повышенных выплат</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="GuaranteedRent" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Гарантированная рента в валюте программы</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:restriction base="InsurCurAmt_Type">
																			<xs:sequence>
																				<xs:element name="Amount" type="Amt_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сумма</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCode" type="CurCode_Type" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Код валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="CurrencyCodeID" type="Identifier" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>ID Кода валюты</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:restriction>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:restriction>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PostSaleRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрос</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="PostSaleRequest_Type">
									<xs:sequence>
										<xs:element name="ActionStatus" type="Boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статус результата действий</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RebateApplied" type="Amt_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма примененной скидки</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReportMessage" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Статус ответа</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="Status_Type">
									<xs:sequence>
										<xs:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код возврата</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Severity" type="Severity_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Описание статуса</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalStatus" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="AdditionalStatus_Type">
									<xs:sequence>
										<xs:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код возврата</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Статусный код сервера</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Severity" type="Severity_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Серьезность ошибки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Описание статуса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="System" type="String_255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Система-источник ошибки</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
